html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

body {
	background: url("../images/BG.png") repeat-x fixed 0px 0px rgb(12, 68, 126);
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -130px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 130px;
}
#footer {
	background: white;
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px 15px 0px 15px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

.flex {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
}

.alternate {
	padding-left: 8px;
	padding-right: 8px;
}

.alternate:first-child {
	padding-left: 0px;

}

.alternate:last-child {
	padding-right: 0px;
}

.nav-icon {
	margin-right: 7px;
	opacity: 0.6;
}

.navbar-brand:hover > .nav-icon {
	opacity: 1;
}

.navbar-brand {
	padding: 6px 15px 4px 15px;
	border-right: 1px solid #888888;
}

.container {
	width: 100%;
}

.page-content {
	background: white;
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
	overflow: auto;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.page-header {
	margin-top: 15px;
	margin-bottom: 10px;
}

.img-thumbnail {
	max-height: 140px;
	max-width: 200px;
}

.right {
	float: right;
}

.accordion-container {
	padding-left: 0;
	overflow: hidden;
}

.panel-body {
	overflow: auto;
}

.ace_editor {
	height: 200px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#blockly-frame {
	height: 9999px;
	border: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.navbar-inverse {
	background-color: #000000;
}

.navbar-inverse a {
	color: #ffffff;
}

.modal-dialog {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.modal-footer {
	margin-top: 0;
}

#new-project-modal .modal-dialog {
	max-width: 400px;
}

#pages-list {
	margin-bottom: 10px;
}

#log-list {
	margin-bottom: 0;
}

#log-chat-field {
	margin-bottom: 15px;
}

/* This is required by Angular Bootstrap */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.staff-photo {
	height: 200px !important;
	margin-top: 10px;
}

.fp-tournament-logo {
	width: 80px;
	margin-right: 10px;
}

.fp-tournament-blurb {
}

.thumbnail {
	display: table-cell;
	width: 25%;
}

.full-width {
	width: 100%;
}

.list-group {
	overflow: auto;
}

.align-right {
	text-align: right;
	float: right;
}

.subheader {
	background-color: rgb(249, 249, 249) !important;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.form-horizontal {
	display: block;
}

.middle-align td {
	vertical-align: middle !important;
}

.progress-bar {
	position: relative;
}

.progress {
	overflow: visible;
	margin-bottom: 10px;
	margin-top: 10px;
}

.slider-handle {
	position: absolute;
	right: 0;
	height: 120%;
	margin-top: -2px;
	margin-right: -12px;
}

.animation {
	width: 100%;
	height: 9999px;
}

:-webkit-full-screen .animation {
	max-height: 9999px !important;
	height: 80%;
	height: -webkit-calc(100% - 91px);
	height: calc(100% - 91px);
}
 
:-moz-full-screen .animation {
	max-height: 9999px !important;
	height: 80%;
	height: -moz-calc(100% - 91px);
	height: calc(100% - 91px);
}
 
:-ms-fullscreen .animation {
	max-height: 9999px !important;
	height: 80%;
	height: calc(100% - 91px);
}
 
:fullscreen .animation {
	max-height: 9999px !important;
	height: 80%;
	height: -moz-calc(100% - 91px);
	height: -webkit-calc(100% - 91px);
	height: calc(100% - 91px);
}

:-webkit-full-screen {
		position: fixed;
		width: 100%;
		margin: 0px;
		top: 0;
		bottom: 0;
		background: white;
}

div.picker-dialog-bg {
	z-index:1052;
}

.picker-dialog {
	z-index: 1053 !important;
}

.navbar-default {
	margin-bottom: 15px;
}

.blocklySvg {
	height: 100%;
	width: 100%;
}

.tip-right {
	position: absolute;
	right: 20px;
}

.log-body {
	word-wrap: break-word;
	white-space:pre-line;
}

.label-left {
	text-align: center !important;
}

.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ng-hide {
	/* Not to worry, this will override the AngularJS default...*/
	display: block !important;

	/* this is just another form of hiding an element */
	position: absolute;
	top: -12000px;
	left: -9999px;
}
