<div class="page-content">
	<h1>{{  }} Application</h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="team-name" class="col-sm-2 control-label">Team name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="currentTeam.name">
			</div>
		</div>
		<div class="form-group">
			<label for="school-name" class="col-sm-2 control-label">School</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="currentTeam.school">
			</div>				</div>
		<div class="form-group">
			<label for="city-name" class="col-sm-2 control-label">City</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="currentTeam.city">
			</div>
		</div>
		<div class="form-group">
			<label for="state-name" class="col-sm-2 control-label">State (US Only)</label>
			<div class="col-sm-10">
				<select class="form-control" ng-options="a for a in states" ng-model="currentTeam.state"></select>
			</div>
		</div>
		<div class="form-group">
			<label for="country-name" class="col-sm-2 control-label">Country</label>
			<div class="col-sm-10">
				<select ng-model="currentTeam.country" ng-options="a for a in countries" class="form-control">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="website-url" class="col-sm-2 control-label">Team Website</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="currentTeam.websiteUrl">
			</div>
		</div>
	</form>
</div>
