<div class="page-content">
	<div class="row">

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Builder</h3>
				</div>
				<div fb-builder="base"></div>
				<div class="panel-footer">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="isShowScope" />
							Show scope
						</label>
					</div>
					<pre ng-if="isShowScope">{{form}}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div fb-components></div>
		</div>
	</div>
</div>
