<div class="container">
	<!-- Static navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ide-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="ide-collapse" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle">File<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li> <a ng-click="newProject()">New Project</a> </li>
						<li> <a ng-click="openProject()">Open Project</a> </li>
						<li> <a style="display: none;">Open Simulation</a> </li>
						<li> <a style="display: none;" ng-click="saveAs()">Save As</a> </li>
						<li> <a style="display: none;">Revision History</a> </li>
						<li> <a ng-click="download()">Download</a> </li>
						<li> <a style="display: none;" ng-click="teamShare()">Share With Team</a> </li>
						<li> <a ng-click="share()">Share Individually</a> </li>
						<li> <a ng-click="renameProject()">Rename</a> </li>
					</ul>
				</li>
				<li class="dropdown" ng-if="!graphical">
					<a class="dropdown-toggle">Edit<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li> <a ng-click="aceEditor.undo()">Undo<span class="tip-right">Ctrl+Z</span></a> </li>
						<li> <a ng-click="aceEditor.redo()">Redo<span class="tip-right">Ctrl+Y</span></a> </li>
						<li class="divider"></li>
						<li> <a ng-click="aceEditor.execCommand('find')">Find<span class="tip-right">Ctrl+F</span></a> </li>
						<li> <a ng-click="aceEditor.execCommand('replace')">Replace<span class="tip-right">Ctrl+F &times;2</span></a> </li>
						<li class="divider"></li>
						<li> <a ng-click="aceEditor.blockIndent()">Indent<span class="tip-right">Tab</span></a></li>
						<li> <a ng-click="aceEditor.blockOutdent()">Unindent<span class="tip-right">Shift+Tab</span></a> </li>
						<li> <a ng-click="aceEditor.toggleBlockComment()">Toggle Comment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tip-right">Ctrl+/</span></a> </li>
					</ul>
				</li>
				<li class="dropdown" ng-if="graphical">
					<a class="dropdown-toggle">Edit<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li> <a ng-click="cut()">Cut<span class="tip-right">Ctrl+X</span></a> </li>
						<li> <a ng-click="copy()">Copy<span class="tip-right">Ctrl+C</span></a> </li>
						<li> <a ng-click="paste()">Paste<span class="tip-right">Ctrl+V</span></a> </li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle">Simulate<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li> <a ng-click="compile(false)">Compile</a> </li>
						<li> <a ng-click="compile(true)">Codesize Estimate</a> </li>
						<li> <a ng-click="openSimDialog()">Simulate</a> </li>
						<li> <a style="display: none;">Profile</a> </li>
						<li> <a style="display: none;" ng-click="openSubmitDialog()">Submit</a> </li>
					</ul>
				</li>
			</ul>
			<ul ng-if="graphical" class="nav navbar-nav navbar-right">
				<li ng-switch="editorMode">
					<button type="button" class="btn btn-default navbar-btn" ng-click="toggleBlocklyText()" ng-switch-when="graphical">C Code</button>
					<button type="button" class="btn btn-default navbar-btn" ng-click="toggleBlocklyText()" ng-switch-when="graphical-c">Graphical Editor</button>
				</li>
			</ul>
			<p id="project-name" class="navbar-text navbar-right">{{ projectName }}&nbsp;&nbsp;</p>
		</div><!--/.nav-collapse -->
	</div>
</div>

<div id="main-container" class="container">
	<div class="col-sm-3 accordion-container" adjustheight="160">
		<accordion>
			<accordion-group heading="Pages" is-open="true">
				<div class="list-group" adjustheight="325">
					<a class="list-group-item {{ k === currentPageName ? 'active' : '' }}" ng-repeat="k in pages.keys().sort()" ng-click="setActivePage(k);" ng-style="{ 'font-weight': (k === 'init' || k === 'main' ? 'bold' : 'normal')}">{{ k }}</a>
				</div>
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-default" ng-click="newPage()"><span class="glyphicon glyphicon-plus"></span></button>
					<button type="button" class="btn btn-default" ng-click="deletePage(currentPageName)"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
			</accordion-group>
			<accordion-group heading="Log" is-open="$parent.logOpen">
				<form>
					<input type="text" class="form-control" id="log-chat-field" placeholder="Type here and press Enter" ng-model="chat.message" ui-keypress="{'enter':'sendChatMessage()'}">
				</form>
				<div class="list-group" id="log-list" adjustheight="325">
					<a class="list-group-item" ng-repeat="l in log" ng-click="focusLog(l[1])">
						<strong>{{ l[1].user }}</strong> {{ l[0].substr(0,13) | date:'medium' }}<br>{{ l[1].title }}<br>
						<button class="btn btn-primary" ng-if="l[1].simId" style="margin-left: auto; margin-right: auto;" ng-click="go('/ide/simulation/' + l[1].simId + '/')">View Results</button>
						<span class="log-body">{{ l[1].content | limitTo:128 }}{{ l[1].content.length > 128 ? ' ...' : '' }}</span>
					</a>
				</div>
			</accordion-group>
		</accordion>
	</div>
	<div ng-switch="editorMode">
		<div class="col-sm-9" ui-ace="aceOptions" ng-model="currentPage.text" style="font-size: 18px;" ng-switch-when="text"></div>
		<div class="col-sm-9" readonly="true" ui-ace="aceOptions" ng-model="blocklyText" style="font-size: 18px;" ng-switch-when="graphical-c"></div>
	</div>
	<div id="blockly-frame" class="col-sm-9" adjustheight="160" ng-show="editorMode === 'graphical'"></div>
</div>
<div style="position: fixed; left: 50%; top: 80px; float: left;">
	<div class="alert alert-info" style="position: relative; left: -50%; float: left;" ng-show="simRunning">Running...</div>
</div>

<!-- Blockly toolbox -->
<xml id="blockly-toolbox" style="display: none;" ng-if="graphical">
	<category name="SPHERES Controls">
		<block type="spheres_setPos" ng-if="currentPageName !== 'init'">
			<value name="X">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
			<value name="Y">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
			<value name="Z">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
		</block>
		<block type="spheres_setTarget" ng-if="currentPageName !== 'init'">
			<value name="ARGUMENT">
				<block type="variables_array_get_pointer">
				</block>
			</value>
		</block>
		<block type="spheres_getZRState">
			<value name="ARGUMENT">
				<block type="variables_array_get_pointer">
				</block>
			</value>
		</block>
		<block type="spheres_getTime" ng-if="currentPageName !== 'init'"></block>
	</category>
	<category name="Debug">
		<block type="debug">
			<value name="TEXT">
				<block type="debug_string">
				</block>
			</value>
		</block>
		<block type="debug_string"></block>
	</category>
	<category name="Variables">
		<block type="variables_declare" ng-if="currentPageName === 'init'">
		</block>
		<block type="variables_array_declare" ng-if="currentPageName === 'init'">
		</block>
		<block type="variables_get"></block>
		<block type="variables_set">
			<value name="VALUE">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
		</block>
		<block type="variables_array_get_pointer"></block>
		<block type="variables_array_get">
			<value name="INDEX">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
		</block>
		<block type="variables_array_set">
			<value name="INDEX">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
			<value name="VALUE">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
		</block>
	</category>
	<category name="Logic">
		<block type="controls_if"></block>
		<block type="logic_compare"></block>
		<block type="logic_operation"></block>
		<block type="logic_negate"></block>
		<block type="logic_boolean"></block>
		<block type="logic_ternary"></block>
	</category>
	<category name="Math">
		<block type="math_number"></block>
		<block type="math_arithmetic"></block>
		<block type="math_single"></block>
		<block type="math_trig"></block>
		<block type="math_constant"></block>
		<block type="math_change">
			<value name="DELTA">
				<block type="math_number">
					<field name="NUM">1</field>
				</block>
			</value>
		</block>
		<block type="math_round"></block>
		<block type="math_modulo"></block>
	</category>
	<category name="Loops">
		<block type="controls_repeat_ext">
			<value name="TIMES">
				<block type="math_number">
					<field name="NUM">10</field>
				</block>
			</value>
		</block>
		<block type="controls_whileUntil"></block>
		<block type="controls_for">
			<value name="FROM">
				<block type="math_number">
					<field name="NUM">0</field>
				</block>
			</value>
			<value name="TO">
				<block type="math_number">
					<field name="NUM">9</field>
				</block>
			</value>
		</block>
		<block type="controls_flow_statements"></block>
	</category>
	<category name="Functions" custom="PROCEDURE">
	</category>
	<ng-include ng-if="blocklyTreeUrl" src="blocklyTreeUrl" onload="loadBlockly()" include-replace></ng-include>

</xml>

