<div class="page-content">
	<div class="page-header"><h1>ZR in the News</h1></div>
	<h3>
		Television</h3>
	<p>
		2014-01-10&nbsp;<a href="http://www.newsplex.com/home/headlines/Charlottesville-High-School-Students-in-Robotics-Competition-239535091.html" target="_blank">Charlottesville High School Students in Robotics Competition</a> [WAHU 27]</p>
	<p>
		2012-02-23&nbsp;<a href="http://www.wusa9.com/news/morning/CoolSchools/article/192499/377/Cool-Schools-Students-Write-Code-To-Control-Satellite-In-Space" target="_blank">Cool Schools: Students Write Code To Control Satellite In Space</a> [WUSA 9]</p>
	<p>
		2012-02-07 <a href="http://www.krem.com/video/featured-videos/Bonners-Ferry-138901974.html" target="_blank">Bonners Ferry robotics clubs builds technology used by ISS</a> [Krem 2 News]</p>
	<p>
		2012-01-26 <a href="http://www.msnbc.msn.com/id/26315908/vp/45994302#46141440" target="_blank">Pride and hope for the future of robotics</a> [The Rachel Maddow Show]</p>
	<p>
		 </p>
	<h3>
		News Articles</h3>
	<p>
		2014-02-14 <a href="http://www.nasa.gov/mission_pages/station/research/news/upcoming_spheres/#.U1GTuuZdU01" target="_blank">Space Station SPHERES Run Circles Around Ordinary Satellites</a> [nasa.gov]</p>
	<p>
		2014-01-20 <a href="http://www.ocregister.com/articles/team-594287-space-code.html" target="_blank">Space station robots to act out Irvine students' algorithm</a> [Orange County Register]</p>
	<p>
		2014-01-13 <a href="http://lubbockonline.com/education/2014-01-13/lhs-group-competing-control-robots-international-space-station#.U1GU0OZdU01" target="_blank">LHS group competing for control of robots on the International Space Station</a> [Lubbock Avalanche-Journal]</p>
	<p>
		2012-09-27 <a href="http://mashable.com/2012/09/26/zero-robotics-mit/" target="_blank">Want to Run Code on the ISS? There's a Competition For That</a> [mashable.com]</p>
	<p>
		2012-02-29 <a href="http://www.sltrib.com/sltrib/neighborhoodvalleywest/53523454-129/team-isham-competition-computer.html.csp" target="_blank">Student scientists reach Top 20 in international robotics tourney</a> [The Salt Lake Tribune]</p>
	<p>
		2012-02-01 <a href="http://newjerseyhills.com/the_progress/news/west-essex-robotics-team-makes-finals-in-design-challenge/article_b3f50c02-4d0e-11e1-9071-001871e3ce6c.html" target="_blank">West Essex robotics team makes finals in design challenge</a> [The Progress]</p>
	<p>
		2012-01-31 <a href="http://www.huffingtonpost.com/zoe-p-strassfield/flying-for-me_b_1242986.html" target="_blank">Flying for Me</a> [Huffington Post]</p>
	<p>
		2012-01-31 <a href="http://thejournal.com/articles/2012/01/31/code-competition-lets-students-program-real-robots-aboard-the-international-space-station.aspx" target="_blank">Code Competition Lets Students Program Real Robots Aboard the International Space Station</a> [T.H.E Journal]</p>
	<p>
		2012-01-30 <a href="http://www.washingtonpost.com/local/prince-william-students-compete-in-national-robotics-event/2012/01/27/gIQAHFUacQ_story.html" target="_blank">Prince William students compete in national robotics event</a> [Washington Post]</p>
	<p>
		2012-01-30 <a href="http://www.azorobotics.com/news.aspx?newsID=2434" target="_blank">Zero Robotics Competition Plays Out Robots on International Space Station</a> [Azo Robotics]</p>
</div>
	
