<h2>Zero Robotics Middle School Program</h2>
<p><img src="/images/mscurriculum/SPHERES.jpg" width="400"></p>
<p>Zero Robotics (ZR) is a programming competition where SPHERES satellites inside the International Space Station (ISS) are controlled by programs developed by YOU! You will create, edit, share, save, simulate, and submit programming code in order to accomplish whatever your given task is. After several rounds of competition&ndash;within the class and within your region&ndash;finalists will be selected to compete in a live championship aboard the ISS. An astronaut will use your code to conduct the championship competition in microgravity with a live broadcast!</p>
<p>This five-week program was designed to engage middle school students in science, technology, engineering, and mathematics (STEM) through the ZR game. We hope to help you better understand this content by connecting it to something we think is pretty exciting: space! You'll also get the chance to learn about STEM careers so that you can understand the many interesting opportunities for success that STEM fields can offer. Most of all, we hope you have fun!</p>

<h2>For Educators</h2>
<p>The <a href="ZR_MS_EG_summer13.pdf" target='_blank'>Educator Guide</a> is designed to be read electronically using a pdf application, which allows external links to be included. Teaching from a printed version of the guide is not recommended as you will not be able to follow external links to activities and programming tutorials. </p>
<p>Thanks to Natalie Brown for sharing this <a href="ZRIDEJeopardy.pptx">sample Jeopardy game</a> for use in "Reflection and Assessment." (See Natalie's <a href="Tips for using PowerPoint ZRIDEJeopardy.pdf">tips</a> for the game.)</p>
<p>Companion student materials are available by week. Students will be invited to login to the ZR website to access and use these materials as they progress through the curriculum.</p>

<h2>Programming Tutorials and the ZR IDE</h2>
<h3>Getting Started with the ZR IDE and the Game</h3>
<p>Review the <a href="https://docs.google.com/file/d/0Bw-IfABKvG5ranYtYkhtUHlnWWc/edit?usp=sharing">Game Introduction video</a>, the <a href="MS_Game_Manual.pdf">game manual</a>, and <a href="http://www.zerorobotics.org/c/wiki/get_page_attachment?p_l_id=260401&amp;nodeId=332916&amp;title=08.+Get+in+the+Game&amp;fileName=08.+Get+in+the+Game%2FMSZRGame.pdf">Game Overview slideshow</a>, which explain the rules for the 2013 Middle School game.</p>
<p>The following table shows each of the tutorials available for learning to program in the ZR IDE using the graphical editor.</p>
<table>
	<tr>
		<th>Tutorial</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><a href="Week1_Day1.pdf">Create an Account</a></td>
		<td>Set up an account on the ZR website so that you can access the<br />
			ZR IDE
		</td>
	</tr>
	<tr>
		<td><a href="Week1_Day0.pdf">How to Invite Students to Your Team</a></td>
		<td>A tutorial for the educator to set up the team</td>
	</tr>
	<tr>
		<td><a href="Week1_Day2.pdf">Getting to Know the ZR IDE</a></td>
		<td>Learn the computer programming language C++ that you will use<br />
			to program the SPHERES satellites
		</td>
	</tr>
	<tr>
		<td><a href="Week1_Day3.pdf">Introduction to Arrays and the setPositionTarget</a></td>
		<td>Try your hand at using arrays in ZR</td>
	</tr>
	<tr>
		<td><a href="Week1_Day4_p1.pdf">More Simple Arrays and the setAttitudeTarget Function</a></td>
		<td>Part 1 of two-part tutorial to learn more about how to use arrays to<br />
			move the SPHERES
		</td>
	</tr>
	<tr>
		<td><a href="Week1_Day4_p2.pdf">More Simple Arrays&ndash;Another Way to Initialize Variables</a></td>
		<td>Part 2 of two-part tutorial to learn more about how to use arrays to<br />
			move the SPHERES
		</td>
	</tr>
	<tr>
		<td><a href="Week2_Day2_p1.pdf">The Conditionals: The Basics of "If-Then,"</a></td>
		<td>Use "If, Then" statements and some logic operators to program<br />
			a SPHERES satellite to move to multiple locations
		</td>
	</tr>
	<tr>
		<td><a href="Week2_Day2_p2.pdf">Conditionals: More Fun with "If-Then" and Logic Operators</a></td>
		<td>Use an "If-Then" statement and some new logic operators to show<br />
			that the loop you created is called once per second by the<br />
			SPHERES control system
		</td>
	</tr>
	<tr>
		<td><a href="Week2_Day2_p3.pdf">Conditionals with Advanced Logic Operators</a></td>
		<td>Use still more logic operators ('and' and 'or') and conditional<br />
			statements to change the position and attitude of the SPHERES
		</td>
	</tr>
	<tr>
		<td><a href="Week2_Day3.pdf">Conditionals Continued: "If-Then-Else"</a></td>
		<td>Introduction to "If, Then, Else" statements</td>
	</tr>
	<tr>
		<td><a href="IntroGameMode.pdf">Introduction to Game Mode</a></td>
		<td>Learn to use the game mode (as opposed to the free mode)</td>
	</tr>
	<tr>
		<td><a href="Week3_Day1.pdf">For Loops</a></td>
		<td>Learn to use a <strong>for loop</strong> to repeat an action a set number of times&ndash;in<br />
			this case, to find the position of the second satellite and program<br />
			your satellite to move toward the second satellite, but stop halfway
		</td>
	</tr>
	<tr>
		<td><a href="HintsSPHERESDynamics.pdf">Hints About SPHERES Loop Dynamics</a></td>
		<td>See the effect of motion on your satellite</td>
	</tr>
	<tr>
		<td><a href="Week3_Day2.pdf">Applied Conditionals</a></td>
		<td>Learn how to use conditional statements to program your player to<br />
			do different things depending on where it is and where the other<br />
			player is
		</td>
	</tr>
	<tr>
		<td><a href="Week3_Day3_p1.pdf">Creating Functions</a></td>
		<td>In Part 1 of this two-part tutorial learn how to organize and keep<br />
			track of everything that is happening in your code
		</td>
	</tr>
	<tr>
		<td><a href="Week3_Day3_p2.pdf">Functions and the Step Counter Model</a></td>
		<td>In Part 2 of this two-part tutorial learn how&ndash;and why&ndash;to use a step<br />
			counter model in your program and practice creating functions
		</td>
	</tr>
	<tr>
		<td><a href="IntramuralGameMode.pdf">Intramural Game Mode</a></td>
		<td>Learn how to share your game code with the group</td>
	</tr>
	<tr>
		<td><a href="SubmitCode.pdf">How to Submit Code</a></td>
		<td>A tutorial for the educator to submit code for competitions</td>
	</tr>
</table>

<h2>Read All About It!</h2>
<p><img src="/images/mscurriculum/newspaper.jpg" width="250"></p>
<p>The following are suggestions for magazines, books, and websites to read to learn more about space, computer science, and other related topics!</p>
<ul>
	<li>The January 2013 <i>National Geographic</i> is a 125th anniversary special issue called "Why We Explore" and includes Tim Folger's look at space exploration in "<a href="http://ngm.nationalgeographic.com/2013/01/space-exploration/folger-text">Crazy Far</a>."</li>
</ul>
<ul>
	<li>See the <a href="http://science.nationalgeographic.com/science/space/">Space</a> section of the National Geographic Society's website for articles and pictures on everything from meteors and our solar system to space exploration and the whole universe.</li>
</ul>
<ul>
	<li>Visit National Geographic's Kids to meet some <a href="http://kids.nationalgeographic.com/kids/photos/black-inventors-and-pioneers-of-science/">black inventors and pioneers of science</a>.</li>
</ul>



<h2>Week 1</h2>
<h2>To Infinity and Beyond . . .</h2>
<p><img src="/images/mscurriculum/ISS1.jpg" width="250"></p>
<p><i>Do you ever think about living in, working in, or traveling to space? People continue to explore space and conduct research aboard the International Space Station (ISS), but there are also private companies promoting the idea of space tourism. So come along for the ride and see where it can take you . . . maybe someday you'll cruise to space and wave to the ISS crew members as you pass one another!</i></p>
<p>During this first week of the ZR program, you will learn more about the SPHERES satellites and learn all about the ZR game and computer programming. You will also be introduced to the ISS, where the SPHERES are used. </p>
<p>By the end of this week, you should:</p>
<ul>
	<li>Understand what the ZR middle school program is about and that you'll be programming satellites on the ISS</li>
	<li>Understand that the SPHERES satellites are maneuvered by computer programs, rather than by humans</li>
	<li>Understand the "problem" you must address in your player design for the ZR game</li>
	<li>Understand the basic structure and elements of a computer program and what is involved in debugging a program</li>
	<li>Be aware that math and physics are involved in maneuvering the SPHERES satellites</li>
	<li>Be able to complete short programming tasks in the ZR IDE using the instructions provided</li>
	<li>Be able to work together in teams to solve problems</li>
</ul>
<h3>For the Love of Space!</h3>
<p>Why do we explore space, and what <i>is</i> the space we explore? First, learn from NASA why we explore space by watching the <i><a href="http://www.nasa.gov/exploration/whyweexplore/why_we_explore_main.html">Why We Explore</a></i> video. Then take a look at the universe with this <a href="http://science.discovery.com/video-topics/space-videos/space-school-solar-system.htm">video on the solar system</a>.</p>

<a id="01"><h2>01. The Sky Is Falling!</h2></a>
<p>On February 15, 2013, news of a meteor streaking through the Russian sky and slamming into the Earth, injuring almost 1,000 people, broke worldwide. The sight of the <a href="http://thelede.blogs.nytimes.com/2013/02/15/video-captures-flaming-object-believed-to-be-meteorite/">meteor</a> captivated people across the globe but this event was a far cry from the potential  impact of an asteroid hitting the planet.</p>
<p>Have you ever heard of the  movies <i>Armageddon</i> and <i>Deep Impact</i>? Both of these 1998 films focus on asteroids on a collision course with Earth and the actions of people to try to save our planet from the devastating results. While we don't know of any asteroids headed for Earth that could harm us, there are plenty of huge asteroids, called Potentially Hazardous Asteroids (PHAs), that have or soon will pass not too far away from the planet. PHAs are space rocks of a certain size (larger than 100 m or about 325 ft) that might pass within 100 million miles of Earth. (While that may sound like a pretty far distance from us, the Moon is about 250,000 miles from Earth.)  </p>
<p>On January 7, 2013 there were 1,364 known PHAs and astronomers are constantly finding  <a href="http://www.minorplanetcenter.net/iau/lists/PHACloseApp.html">new ones</a>.</p>
<h3>Recent Earth-Asteroid Encounters:</h3>
<p><img src="/images/mscurriculum/Asteroids_table.jpg" width="500"><br />
	Note: LD means "Lunar Distance" (the distance between Earth and the Moon)
</p>

<a id="02"><h2>02. What In the Universe?</h2></a>
<h2>Blast Off!</h2>
<p><img src="/images/mscurriculum/Planets.JPG" width="500"></p>
<p>Look at some of the following video clips and other multimedia highlighting space and space exploration, such as the Mars rover landing. </p>
<ul>
	<li><a href="http://www.dvidshub.net/video/194008/nasa-johnson-style">NASA Johnson Style</a></li>
	<li><a href="http://news.discovery.com/videos/space-top-5-nasa-videos.html">Discovery Space: Top 5 NASA Videos!</a></li>
	<li><a href="http://www.jpl.nasa.gov/video/?all_videos&amp;id=1176#fragment-5">Mars in a Minute: How Do Rovers Drive on Mars? animation</a></li>
</ul>

<a id="03"><h2>03. Moving Off Earth</h2></a>
<h4>Exploring the ISS</h4>
<ul>
	<li><a href="http://www.guardian.co.uk/science/video/2012/nov/29/earth-international-space-station-timelapse-video">Further Up Yonder: Time Lapse of the Earth from the ISS</a></li>
	<li>
		<a href="http://spacestationlive.nasa.gov/visitspacestation.html">ISSLive!</a>
		<ul>
			<li><a href="http://spacestationlive.nasa.gov/exploremcc.html">Explore Mission Control</a></li>
			<li><a href="http://spacestationlive.nasa.gov/visitspacestation.html">Visit the Space Station</a></li>
			<li><a href="http://spacestationlive.nasa.gov/assembly.html">See How the ISS was Assembled</a></li>
			<li><a href="http://spacestationlive.nasa.gov/internationalpartners.html">International Partners</a></li>
		</ul>
	</li>
	<li><a href="http://solc.gsfc.nasa.gov/kids3/kids3.html">Space Operations Learning Center&ndash;Space Station</a></li>
	<li>
		<a href="http://www.nasa.gov/externalflash/destination_station/">Destination Station</a>
		<ul>
			<li>An Orbiting Laboratory</li>
			<li>Space Station 24/7</li>
			<li>A Home in Space</li>
		</ul>
	</li>
	<li><a href="http://kottke.org/13/01/a-tour-of-the-international-space-station">A Tour of the ISS</a></li>
</ul>
<h4>Explore and Track the ISS</h4>
<ul>
	<li>You can track the ISS as it moves around the Earth and can even see it in the night sky with just your eyes! <a href="http://spotthestation.nasa.gov/">Sign up</a> for alerts from NASA&ndash;you will get an email or text message letting you know when the ISS is about to pass over your home. Also, <a href="http://spaceweather.com/flybys/">Satellite Flybys</a> can tell you where and when the ISS&ndash;as well as a number of spy satellites and the Hubble Space Telescope&ndash;will be passing by your home.</li>
	<li>Explore the space station using a <a href="http://www.nasa.gov/externalflash/photosynth/index.html">3-D tour</a></li>
	<li>See who is living aboard the ISS right <a href="http://www.nasa.gov/audience/forkids/kidsclub/flash/nowinspace/Archive.html">now</a></li>
	<li>Build a model of part of ISS using <a href="http://www.nasa.gov/pdf/616947main_Build_Station_Simulation.pdf">directions</a> provided by NASA</li>
</ul>
<h4>What Do You Know About the ISS?</h4>
<p>Find out by looking at the <a href="ISSFacts_final.pdf">ISS Facts</a> slideshow.</p>

<a id="04"><h2>04. Welcome to Your Launchpad</h2></a>
<p>To get started, you'll need to create an account on the ZR site so that you can access your workbench, the ZR Integrated Development Environment (ZR IDE). </p>
<p>Follow the directions provided in the <i><a href="Week1_Day1 .pdf">Create an Account</a></i> tutorial, and you will be ready to go!</p>
<p><strong>Educators:</strong> To add students to your team, use the directions provided in the <i><a href="Week1_Day0.pdf">How to Invite Students to Your Team</a></i> tutorial.</p>

<a id="05"><h2>05. Bottle Rockets</h2></a>
<p>Now you will design, build, and launch your very own rocket.</p>
<p>The first step is to design your rocket. Be creative with your design&ndash;do you want big or small fins? What shape do you want your fins? What about your nose cone&ndash;long and skinny or short and fat? It's all up to you, but you should remember that these parts have specific jobs&ndash;to make the bottle rocket stable and aerodynamic. Find out more by exploring these links:</p>
<ul>
	<li><a href="http://www.tclauset.org/21_BtlRockets/BTL.html">http://www.tclauset.org/21_BtlRockets/BTL.html</a></li>
	<li><a href="http://www.ehow.com/info_12026132_shape-size-fins-affect-flight-rocket.html">http://www.ehow.com/info_12026132_shape-size-fins-affect-flight-rocket.html</a></li>
</ul>
<h4>Design Tips</h4>
<ul>
	<li>Place your fins evenly spaced around your bottle. This will ensure the best flight!</li>
	<li>Make sure your fins and nose cone are sealed tight on the bottle. You wouldn't want your design to fall apart when the rocket is launched with lots of force!</li>
	<li>Try to not to make one side heavier than the other&ndash;your bottle won't go straight up if it is lopsided.</li>
</ul>
<p>Once you have finished designing and building your rocket, you will get to go outside and launch it! </p>
<h4>Launch Information</h4>
<p>NOTE: When your bottle rocket is pressurized, it can be a very dangerous object and can cause serious injury. Stay well back from the rocket and be careful.</p>
<p>If you cannot complete the bottle rocket activity, you might try one of the following rocket activities from NASA:</p>
<ul>
	<li><a href="http://www.nasa.gov/audience/foreducators/topnav/materials/listbytype/3_2_1_Puff.html">3 . . . 2 . . . 1 . . . PUFF!</a></li>
	<li><a href="http://www.nasa.gov/pdf/295787main_Rockets_Foam_Rocket.pdf">Foam Rocket</a></li>
</ul>

<a id="06"><h2>06. You Have Nothing to SPHERE . . .</h2></a>
<ol>
	<li>See the SPHERES in <a href="http://www.youtube.com/watch?v=FSvsOKbB8Ro&amp;feature=plcp">action</a></li>
	<li>Learn some facts about the SPHERES with the <a href="GettingtoKnowSPHERES_final.pdf">Getting to Know SPHERES</a> slideshow.</li>
</ol>
<p>Now, make your own SPHERE using the following <a href="Make Your Own SPHERE.pdf">directions</a> and <a href="PaperSPHERE.pdf">image</a>. Give yourself some time, as this isn't as easy to do as you might think!</p>

<a id="07"><h2>07. Try Your Hand at Programming</h2></a>
<p>To program the SPHERES satellites, you will need to learn a whole new language: C++, a computer programming language. Complete the steps in the <i><a href="Week1_Day2.pdf">Getting to Know the ZR IDE</a></i> tutorial to begin learning and practicing this new language!</p>
<p>Get to know a bit more about how to move the SPHERES satellites by learning about <a href="MysteryCoordinateGrid.pdf">grids</a> and <a href="CoordinateHunt.pdf">coordinates</a> (you will need some <a href="CoordinateHuntPieces_final.pdf">clues</a> for your Coordinate Hunt!). You might also want to try out a game of <a href="CoordinateGraphBattleship.pdf">Battleship</a> or an interactive <a href="http://www.bbc.co.uk/bitesize/ks2/maths/shape_space/grids/play/">game on coordinates</a>.</p>

<a id="08"><h2>08. Get in the Game</h2></a>
<h2>The Middle School Zero Robotics Game</h2>
<p><img src="/images/mscurriculum/zr_logo_ms2013.gif" width="250"></p>
<p>To begin, see what this is all about with the <a href="https://docs.google.com/file/d/0Bw-IfABKvG5ranYtYkhtUHlnWWc/edit?usp=sharing">ZR Game Introduction</a>.</p>
<p>The Middle School ZR Game is <i>not</i> just a test or a problem that has already been solved&ndash;it is a real challenge for you! To prepare young people to be innovative problem-solvers who can do creative work in our highly technical world (and to give you an idea of how exciting this work can be), we are asking you to help solve a major challenge&ndash;so you can see whether you have the <i>right stuff</i> to be part of our future technical workforce!</p>
<p>Now, check out the <a href="MSZRGame.pdf">Game Overview</a> slideshow to review some of the game details.</p>

<a id="09"><h2>09. Getting Into CS</h2></a>
<p>What does making sandwiches have to do with computer programming? Find out with this <a href="GettingIntoCS.pdf">slideshow</a>.</p>

<a id="10"><h2>10. Getting Your SPHERE Lined Up</h2></a>
<h4>What Is an Array?</h4>
<p>An array is a data type that stores multiple pieces of data in one place. See some <a href="SampleArrays_final.pdf">examples</a> and then try your hand at using them in ZR with the <i><a href="Week1_Day3.pdf">Introduction to Arrays and the setPositionTarget</a></i> tutorial.</p>

<a id="11"><h2>11. Learning All the Right Moves</h2></a>
<h4>How Can You Control the SPHERES Satellites?</h4>
<p>Learn about <a href="2DRotation_final.pdf">rotating the SPHERES satellites</a> and complete a two-part tutorial, <i><a href="Week1_Day4_p1.pdf">More Simple Arrays and the setAttitudeTarget Function</a></i> and <i><a href="Week1_Day4_p2.pdf">More Simple Arrays&ndash;Another Way to Initialize Variables</a></i>, to learn more about how to use arrays to move the satellites.</p>



<h2>Week 2</h2>
<h2>Developing a Strategy</h2>
<p>During the second week of this program, you will have a chance to participate in a "Field Day" where you will get to act out the ZR game and begin to make the best plan you can to win the game. This will help you develop a program for a team player that you will use in an Intramural Competition in Week 3. You'll also learn much more about the math and physics involved in maneuvering the SPHERES satellites and about programming.</p>
<p>By the end of this week, you should:</p>
<ul>
	<li>
		Understand the basic math and physics concepts involved in maneuvering the SPHERES satellites, including:
		<ul>
			<li>Forces</li>
			<li>Motion</li>
			<li>Newton's Laws</li>
			<li>Order of operations</li>
			<li>Grids and graphing</li>
			<li>Cartesian coordinates</li>
			<li>Dimensions</li>
			<li>Vectors</li>
		</ul>
	</li>
	<li>Understand the basic elements of the ZR game and programming the SPHERES</li>
	<li>Understand how the ZR game controls can be used in a computer program to maneuver the SPHERES satellites</li>
	<li>Be able to complete advanced programming tasks in the ZR IDE using the instructions provided</li>
	<li>Be able to work in a team to solve problems related to activities and your game strategy and coding</li>
</ul>
<p>Now, let's get started by simulating the ZR game using one of the members of your team as the game player!</p>

<a id="01"><h2>01. Field Day!</h2></a>
<h4>What's Your Strategy?</h4>
<p>With this field day experience, you will get the chance to understand the game better by acting it out yourself. It will also help your team develop a strategy for coding your ZR player.</p>
<p><img src="/images/mscurriculum/RetroSPHERES.jpg" width="500"></p>
<p>Note to educators: This <a href="Acting Out Game_web.pdf">guide</a> will help you prepare for the main event of Field Day: acting out the game.</p>

<a id="02"><h2>02. What's the Right Order?</h2></a>
<p>Have you ever thought about the importance of a comma? Consider its role in the statement, "Let's eat, Grandma!" This simple invitation to join in a meal becomes quite sinister when we remove the comma, becoming "Let's eat Grandma!" Thus, <i>commas prevent cannibalism every day</i>. </p>
<p>In mathematics, there are objects like the comma that can change the meaning of the function entirely. Most often, these objects are parentheses&ndash;they indicate that whatever is in the middle of the two parentheses should be done before what is on the outside. Consider the following examples:</p>
<p>4 + 5 × 3 = 19</p>
<p>(4 + 5) × 3 = 27</p>
<p>Here, the parentheses made a large difference into how the math was carried out&ndash;and on the answer. In order to make sure that the same answer is always given by a single equation, there is a set of rules called the "Order of Operations." These rules ensure, just like commas, that math is consistent, reliable, and non-criminal.</p>
<p>Try it out on your own and solve the <a href="OO_Crossword.pdf">Order of Operations Crossword</a>. (If you need help or to check your answers, use the solutions <a href="OO_Crossword_AnswerKey.pdf">here</a>.)</p>

<a id="03"><h2>03. As If!</h2></a>
<p>In Week 1, you learned about <i>conditional statements</i>. Now, work through the tutorial, <i><a href="Week2_Day2_p1.pdf">The Conditionals: The Basics of "If-Then,"</a></i>, in which you will use a specific type of conditional statement ("If, Then" statements) as well as the logic operators you've learned about to program a SPHERES satellite to move to multiple locations.</p>

<a id="04"><h2>04. What's in a Vector?</h2></a>
<p>Directions are an important part of getting around in our world. When you tell your friends how to get to your house, you don't just tell them how far they have to walk&ndash;you also tell them what direction to go. Without <a href="DirectionswithNoDirection.pdf">direction</a>, your friends could end up in a completely different area of town. </p>
<p>Not only is direction important in getting to people's houses&ndash;it is also important in the world of math and physics. Vectors are used to describe direction and magnitude in mathematics. They are necessary when describing motion, forces, and movement in the grid.</p>
<p>To learn more about vectors, conduct a <a href="VectorVoyage.pdf">Vector Voyage</a>.</p>

<a id="05"><h2>05. Seeing in 3D</h2></a>
<h3>What's in a Map?</h3>
<p><img src="/images/mscurriculum/Map.bmp" width="250"></p>
<p>This map and information about going from two to three dimensions are both included on this <a href="Dimensions.pdf">slideshow</a>.</p>
<h4>To Plot or Not to Plot?</h4>
<p>To learn more about graphing, try this activity:</p>
<ul>
	<li><a href="http://nces.ed.gov/nceskids/createagraph/default.aspx">Create-a-graph</a></li>
</ul>
<p>To learn more about Cartesian coordinates, try this activity:</p>
<ul>
	<li><a href="http://www.shodor.org/interactivate/activities/SimpleCoordinates/">Simple Coordinates</a> (Note: This activity requires a plugin)</li>
</ul>

<a id="06"><h2>06. More Conditionals</h2></a>
<p>Work through the next tutorial on conditionals and logic operators to further reinforce these concepts. This tutorial has two parts, which will allow you to practice programming with "If, Then" statements and logic operators and learn how to use the Debug feature of the ZR IDE.</p>
<p>In the first tutorial, <i><a href="Week2_Day2_p2.pdf">Conditionals: More Fun with "If-Then" and Logic Operators</a></i>, you will use an "If-Then" statement and some additional logic operators ('= =' and '! =') to show that the loop you created is called once per second by the SPHERES control system. In the second tutorial, <i><a href="Week2_Day2_p3.pdf">Conditionals with Advanced Logic Operators</a></i>, you will use still more logic operators ('and' and 'or') and conditional statements to change the position and attitude of the SPHERES satellite.</p>

<a id="07"><h2>07. What Else?</h2></a>
<p>In Week 1, you learned about <i>conditional statements</i>. To review, look at the examples in the <strong><a href="WhatIf_final.pdf">What If: An Introduction to Conditional Statements</a></strong> PowerPoint presentation. Then complete this <a href="Week2_Day3.pdf">tutorial</a>, which will help you extend your understanding of conditional statements by introducting "If, Then, Else" statements.</p>

<a id="08"><h2>08. How to Make SPHERES Move</h2></a>
<h4>What Forces Are Affecting the SPHERES?</h4>
<p>Learn all about Newton's Laws:</p>
<ul>
	<li><a href="http://www.nasa.gov/audience/foreducators/nasaeclips/search.html?terms=%22Launchpad%3A%20Newton%27s%20Laws%20On-Board%20the%20International%20Space%20Station%22&amp;category=0000&amp;disp=grid">On board the ISS</a></li>
	<li>Try out this <a href="http://science.discovery.com/games-and-interactives/newtons-laws-of-motion-interactive.htm">interactive</a></li>
</ul>

<a id="09"><h2>09. Breaking Down Programming</h2></a>
<p>To help you program your ZR player, it is helpful to learn about some more advanced programming components. To do so, review this <a href="ProgrammingFunctions.pdf">slideshow</a> and complete the tasks within it.</p>

<a id="10"><h2>10. Let the Games Begin!</h2></a>
<p>Now, you are ready to start programming. To begin, complete the <i><a href="IntroGameMode.pdf">Introduction to Game Mode</a></i> tutorial, in which you will learn to use the game mode (as opposed to the free mode that you have been using up to this point). You will use this and the <a href="MS_Game_Manual.pdf">game manual</a> while you are programming your player.</p>
<p>Then look at the <strong><a href="LetGamesBegin.pdf">Let the Games Begin</a></strong> slideshow.</p>



<h2>Week 3</h2>
<h2>Time to Play!</h2>
<p>During the third week of this program, you will code your team players and have a first trial run of your program. This week's Intramural Competition will allow you to try out your ideas and see what works well and what doesn't; the best code from the Intramural Competition will be submitted to a practice Regional Competition at the end of the week.</p>
<p><img src="/images/mscurriculum/Competition1.jpg" width="200"></p>
<p>By the end of this week, you should:</p>
<ul>
	<li>
		Understand the more complex math and physics concepts involved in maneuvering the SPHERES satellites, including kinematics:
		<ul>
			<li>Mass vs. weight</li>
			<li>Speed vs. velocity</li>
		</ul>
	</li>
	<li>Code your intramural game strategy for the Intramural Competition!</li>
	<li>Understand how, and be able, to write and debug code using the ZR game controls in the ZR IDE for your player</li>
	<li>Be able to work in teams to solve problems related to activities and your ZR game strategy and coding</li>
</ul>
<p>Now, let's get started developing your program!</p>

<a id="01"><h2>01. SPHERES Here, There, Everywhere!</h2></a>
<h3>What Do You Already Know About SPHERES?</h3>
<ul>
	<li>While there are eight controls in the ZR IDE that allow you to maneuver and manipulate the SPHERES, you will only use four of them in your program: setPositionTarget, setAttitudeTarget, getMyZRState, and getOtherZRState.</li>
</ul>
<ul>
	<li>Look at the <a href="AllAboutSPHERES.pdf">All About the SPHERES</a> slideshow to find out more about how the SPHERES know where they are and how they control their position.</li>
</ul>

<a id="02"><h2>02. Thrown for a Loop!</h2></a>
<p>Complete this <a href="Week3_Day1.pdf">tutorial</a> to learn to use a <strong>for loop</strong> to repeat an action a set number of times&ndash;in this case, to find the position of the second satellite and program your satellite to move toward the second satellite, but stop halfway</p>

<a id="03"><h2>03. Reaching Warp Speed</h2></a>
<p>What would it take to leap into the future? You would need to achieve warp speed! Is it possible? To find out, review this <a href="MappingSpeed.pdf">slideshow</a>.</p>
<p>Kinematics, or the study of motion without considering the forces that cause that motion, are important when you create your program for the SPHERES. If your program tells the SPHERES to move to a point, it will activate its thrusters to create a force that will move it in that direction. Once it reaches the point, it will stop activating its thrusters. But the satellite will continue to travel in the same direction unless it is given a command to stay at that point (in which case it will activate the necessary thrusters to keep it at that point). To see the effect of motion on your satellite, try the simple <i><a href="HintsSPHERESDynamics.pdf">Hints About SPHERES Loop Dynamics</a></i> tutorial.</p>

<a id="04"><h2>04. If the SPHERE Is Here, Then . . .</h2></a>
<p>In order to be successful in ZR, you need to program your player to do different things depending on where it is and where the other player is. As you've already learned, the SPHERES Control "getMyZRState" tells you the following information about your satellite:</p>
<ul>
	<li>Position&ndash;where the satellite is in the game area</li>
	<li>Velocity&ndash;how fast and in what direction the satellite is moving in the game area</li>
	<li>Pointing vector&ndash;which way the satellite is rotated (that is, where the side with the velcro is pointed within the game area)</li>
	<li>Rotation rates&ndash;how the satellite spins about any of its three axes (<i>x</i>, <i>y</i>, or <i>z</i>)</li>
</ul>
<p>You can use this information in conditional statements to implement your player strategy&ndash;learn how with this <a href="Week3_Day2.pdf">tutorial</a>!</p>

<a id="05"><h2>05. Keeping Track of Things</h2></a>
<p>How can you organize and keep track of everything that is happening in your code? Using functions! Learn how with this two-part tutorial. In the first part, <i><a href="Week3_Day3_p1.pdf">Creating Functions</a></i>, you will learn the basics of creating functions; in the second part, <i><a href="Week3_Day3_p2.pdf">Functions and the Step Counter Model</a></i>, you will learn how&ndash;and why&ndash;to use a step counter model in your program, and practice creating functions.</p>

<a id="06"><h2>06. Game On!</h2></a>
<p><img src="/images/mscurriculum/zr_logo_ms2013.gif" width="250"></p>
<p>First, follow the instructions in the <i><a href="IntramuralGameMode.pdf">Intramural Game Mode</a></i> tutorial to learn how to share your game code with the group. Then watch as your leader follows the instructions in the <i><a href="SubmitCode.pdf">How to Submit Code</a></i> tutorial to begin the Intramural Competition!</p>

<a id="07"><h2>07. Take a Break!</h2></a>
<p>While your major job in Week 3 is to strategize and program your player for the first round of competition, you also need to take a break sometimes and have fun. Try spending some time with the following activities, videos, and fun quizzes:</p>
<h4>Explore Forces and Motion</h4>
<ul>
	<li><a href="http://science.discovery.com/games-and-interactives/newtons-laws-of-motion-interactive.htm">Newton's Laws of Motion Interactive</a></li>
	<li><a href="http://www.pbs.org/opb/circus/classroom/circus-physics/activity-guide-newtons-laws-motion/">Circus Physics Video</a></li>
	<li><a href="http://glencoe.mcgraw-hill.com/sites/0078617707/student_view0/chapter2/chapter_review_quizzes-eng_.html">Quiz</a></li>
	<li><a href="http://spaceplace.nasa.gov/review/classroom-activities/pdf/st5_frisbee_toy.pdf">"Launch a Frisbee into Orbit"</a> introduces angular velocity, angular acceleration, rotational inertia, and torque</li>
	<li><a href="http://www.learner.org/interactives/parkphysics/coaster.html">Amusement Park Physics: Roller Coasters</a></li>
</ul>
<h4>Some more math and science fun</h4>
<ul>
	<li><a href="ST6_orbits.pdf">Chasing Down a Satellite</a> talks about how satellites work.</li>
	<li><a href="http://www.learnalberta.ca/content/mejhm/index.html?ID1=AB.MATH.JR.NUMB&amp;ID2=AB.MATH.JR.NUMB.INTE&amp;lesson=html/object_interactives/order_of_operations/use_it.html">Order of Operations</a></li>
	<li><a href="http://www.learner.org/interactives/geometry/">Dimensions and 3-D objects</a></li>
	<li>Vectors: <a href="ST7_vectors.pdf">Dampen that Drift</a></li>
	<li>
		Grids &amp; Cartesian Coordinates
		<ul>
			<li><a href="http://www.shodor.org/interactivate/activities/GeneralCoordinates/">General Coordinates Game</a></li>
			<li>Play with some <a href="http://smartboards.typepad.com/smartboard/files/coordinates1.swf">coordinates</a></li>
		</ul>
	</li>
	<li>Some math <a href="http://nlvm.usu.edu/en/nav/grade_g_3.html">manipulatives</a></li>
</ul>

<h2>Week 4</h2>
<h2>Going the Distance</h2>
<p>During the fourth week of this program, your major task is to finish programming your player, which may go on to the finals!</p>
<p>By the end of this week, you should:</p>
<ul>
	<li>Have reviewed the results of the practice Regional Competition</li>
	<li>Understand and be able to describe your final game strategy</li>
	<li>Complete your computer program and select a single entry from your whole group for submission to the Regional Competition</li>
	<li>Be able to work in teams to solve problems related to your game strategy and coding</li>
</ul>
<p><img src="/images/mscurriculum/Competition2.jpg" width="100"></p>
<p>Now, let's prepare your ZR game player, and explore some of the STEM content you've learned about.</p>

<h2>Programming in Space is STEMulating!</h2>
<p>Engage in some of these online activities to explore and reinforce the connections between programming and the STEM content you have learned about in ZR. </p>
<ul>
	<li>Play the <a href="http://www.kidsastronomy.com/crossword.htm">Astronomy crossword and other games</a></li>
	<li>Visit NASA's <a href="http://spaceplace.nasa.gov/menu/play/">SpacePlace</a> to play a game or take a quiz</li>
	<li>Play <a href="http://www.learninggamesforkids.com/space_games.html">Space Word-a-rama</a> and other learning games</li>
</ul>
<ul>
	<li>
		To learn more about coordinates, grids, and graphing, check out:
		<ul>
			<li><a href="http://smartboards.typepad.com/smartboard/files/coordinates1.swf">The Coordinate Game</a></li>
			<li><a href="http://resources.oswego.org/games/BillyBug2/bug2.html">Billy Bug</a></li>
		</ul>
	</li>
</ul>




<h2>Week 5</h2>
<h2>Reach for the Stars</h2>
<p><img src="/images/mscurriculum/Astronaut_Cartoon.jpg" width="250"></p>
<p>Now you know whether your program will be run live on the ISS by an astronaut, or whether you will have the opportunity to cheer on your regional competitors as they go for first place!</p>
<p>By the end of this week, you should:</p>
<ul>
	<li>Understand how science and engineering concepts relate to the 'real' world</li>
	<li>Understand more about how SPHERES move, including degrees of freedom and dynamics</li>
	<li>Understand why space exploration is important</li>
	<li>Understand what some careers in STEM are and what skills and knowledge are needed to be successful in those careers</li>
</ul>
<p>Hopefully this program has shown you the importance of space exploration and the possibility of an exciting career in space or in computer science. Even if you decide to pursue another area, though, we hope that you enjoyed your ZR experience and will continue to pay attention to what is going on above the clouds!</p>

<a id="01"><h2>01. How Bright Can Your Future Be?</h2></a>
<h3>Will You Be an Astronaut, an Actuary, or an Architect?</h3>
<h4>Learn about your interests</h4>
<p>What do you like to do and think about, and what skills do you have? Why does this matter? Your skills and interests can lead you to some careers or career areas that might suit you. Take one or several of the following online and paper career interest inventories:</p>
<ul>
	<li><a href="http://checkoutacollege.com/ExploreCareers/InterestSurvey.aspx">Career Interest Survey</a>, which is a general career assessment tool</li>
	<li><a href="http://www.onetcenter.org/CIP.html">O*NET Computerized Interest Profiler</a>, which is a vocational interest assessment instrument</li>
	<li><a href="http://www.schooltoworld.org/docs/cis2.pdf">Paper Career Path Survey</a></li>
</ul>
<h4>Explore space-related careers</h4>
<ul>
	<li><a href="http://education.ssc.nasa.gov/massvsweight.asp">Meet some astronauts</a> on the ISS</li>
	<li>Learn about <a href="http://kids.usa.gov/teens-home/science/science-jobs/index.shtml#space">space-related careers</a></li>
	<li>Watch these video interviews with <a href="http://women.nasa.gov/">women who work at NASA</a></li>
	<li>Learn about the field of <a href="http://www.careercornerstone.org/atmosphericscience/atmosphericscience.htm">atmospheric science</a></li>
	<li>Look at this list of <a href="http://mgs-mager.gsfc.nasa.gov/Kids/careers.html">possible space careers</a> and think about what work in each of these areas might actually be like!</li>
</ul>
<h4>Explore two careers that most interest you</h4>
<p>You can use the following resources to get started:</p>
<ul>
	<li><a href="http://www.nasa.gov/audience/forstudents/5-8/career/index.html">NASA Career Corner</a></li>
	<li><a href="http://www.careercornerstone.org/index.htm">The Career Cornerstone</a></li>
	<li><a href="http://smartr.edc.org">SMARTR</a></li>
	<li><a href="http://www.tryengineering.org/explore.php">Try Engineering</a></li>
	<li><a href="http://www.egfi-k12.org/">eGFI</a></li>
</ul>

<a id="02"><h2>02. What Is NASA Up To?</h2></a>
<p>At this point, you may be interested in learning more about NASA&ndash;what they do, what we've learned from their work, and what they are hoping to do in the future. Now is the perfect time to look more at NASA in the past, today, and in the future.</p>
<p>Look at the current and planned NASA missions for 2013 and beyond using the following resources:</p>
<ul>
	<li><a href="http://www.nasa.gov/missions/current/index.html">Current Missions</a></li>
	<li><a href="http://www.nasa.gov/missions/future/index.html">Future Missions</a></li>
</ul>
<p>These will give you a good sense of what NASA is doing today and in the future.</p>

<a id="03"><h2>03. Other Ways to Get to Space</h2></a>
<p>Don't think you're ready to commit to the long years of work it would take to become an astronaut for NASA? You're in luck if you want to get to space&ndash;several private commercial organizations are developing ways to get to space, including:</p>
<ul>
	<li><a href="http://www.bigelowaerospace.com/">Bigelow Aerospace</a></li>
	<li><a href="http://www.blueorigin.com/">Blue Origin</a></li>
	<li><a href="http://www.orbital.com/">Orbital Sciences Corporation</a></li>
	<li><a href="http://www.spacex.com/">Space Ex</a></li>
	<li><a href="http://www.virgingalactic.com/">Virgin Galactic</a></li>
</ul>
<p>Work as part of a team to find a product or service one of these company is offering (or hoping to offer in the future) and then pitch that product or service (or idea!) to the group.</p>

<a id="04"><h2>04. Smooth Moves</h2></a>
<p>For a single point in 3-dimensional space, using three coordinates to define its position is a simple task. But what about an object with length, width, and height (like the SPHERES satellites)&ndash;could you use the same coordinates to find its position? Find out with this <a href="SmoothMoves.pdf">slideshow</a>.</p>

<a id="05"><h2>05. Searching for Whatever Is Out There</h2></a>
<p>In the fall of 2012, NASA landed the Mars rover <i>Curiosity</i>. Much of the nation&ndash;and the world&ndash;was captivated by this incredible engineering feat. It may be difficult to imagine what it took to get the rover to Mars&ndash;and what it will take to continue planetary exploration&ndash;but you can get a sense by exploring the following resources:</p>
<ul>
	<li><a href="http://marsprogram.jpl.nasa.gov/participate/funzone/">Mars Rover Kids site</a></li>
	<li><a href="http://marsrover.nasa.gov/gallery/video/">Videos about the Mars Rover</a></li>
	<li><a href="http://mgs-mager.gsfc.nasa.gov/Kids/funfacts.html">Fun facts about Mars</a></li>
	<li>Try <a href="http://mgs-mager.gsfc.nasa.gov/Kids/activities/maze1.html">guiding this 'rocket ship'</a> to Mars</li>
</ul>

<a id="06"><h2>06. Where Can You Go From Here?</h2></a>
<p>The end of this five-week program does not mean that your fun needs to end. You might want to continue to participate in the ZR program through middle school and even into high school, but there are also a number of other programming and robotics competitions and programs that you can participate in. For example:</p>
<ul>
	<li>NASA sponsors and promotes <a href="http://www.nasa.gov/audience/forstudents/current-opps-index.html">related programs</a> for middle school students</li>
</ul>
<ul>
	<li><a href="http://www.usfirst.org/roboticsprograms/frc">First Robotics</a> is a competition that combines the excitement of sport with the rigors of science and technology. Teams are challenged to build and program robots to perform certain tasks against a field of competitors. In the process they get to learn from professional engineers, learn and use sophisticated software and hardware, and even qualify for college scholarships.</li>
</ul>
<ul>
	<li><a href="http://www.destinationimagination.org/">Destination Imagination</a> encourages teams of young people to have fun, take risks, focus, and frame challenges while incorporating STEM, the arts, and service learning. Teams may then showcase their solutions at a national tournament.</li>
</ul>
<ul>
	<li><a href="http://www.realworlddesignchallenge.org/">Real Word Design Challenge</a> is an annual competition that gives high school students the opportunity to work on real engineering challenges . Each year, student teams are asked to address a challenge that confronts our nation's leading industries. Students use professional engineering software to develop their solutions and generate presentations that convincingly demonstrate the value of their solutions at a national competition.</li>
</ul>

