<div class="page-content">
	<div class="page-header"><h1>Multimedia Gallery</h1></div>
	<p>
		<strong><span style="font-size:20px;">Videos</span></strong></p>
	<p>
		<u>General Videos</u></p>
	<ul>
		<li>
			<a href="http://www.youtube.com/watch?v=FSvsOKbB8Ro&amp;feature=plcp" target="_blank">What is SPHERES</a></li>
		<li>
			<a href="http://www.youtube.com/watch?v=dw4GDBJyZ2I&amp;feature=plcp" target="_blank">Welcome from the ISS</a></li>
		<li>
			<a href="http://www.youtube.com/watch?v=3_aNRepRvso&amp;feature=plcp" target="_blank">Finals Brief</a></li>
	</ul>
	<p>
		<u>High School Tournaments</u></p>
	<ul>
		<li>
			<a href="http://amps-web.amps.ms.mit.edu/public/AeroAstro/11jan2013/" target="_blank">ISS Finals 2012 Webcast</a></li>
		<li>
			ISS Finals 2011 Webcast - Janury 23, 2012:&nbsp; <a href="http://amps-webflash.amps.ms.mit.edu/public/spheres/2011-2012/2012jan23/" target="_blank"> [stream]</a>&nbsp; <a href="http://zeroroboticsdata.s3.amazonaws.com/2011Video/finals_part1.mp4"> [part 1]</a>&nbsp; <a href="http://zeroroboticsdata.s3.amazonaws.com/2011Video/finals_part2.mp4"> [part2]</a>&nbsp; <a href="http://zeroroboticsdata.s3.amazonaws.com/2011Video/finals_part3.mp4"> [part3]</a>&nbsp; <a href="http://zeroroboticsdata.s3.amazonaws.com/2011Video/finals_part4.mp4"> [part4]</a>&nbsp; <a href="http://zeroroboticsdata.s3.amazonaws.com/2011Video/finals_all.mp4"> [all]</a></li>
		<li>
			High School Tournament 2011 Kickoff on NASA TV- September 16, 2011:&nbsp; <a href="http://techtv.mit.edu/videos/14190-zero-robotics-nasa-tv-kickoff-spheres" target="_blank"> [stream/.mp4/.mov]</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/" target="_blank">High School Tournament 2011: AsteroSPHERES Game Videos</a>
			<ul>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/70_game_premise.mov">Game Premise</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/80_mining.mov">Asteroid Mining</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/90_race.mov">Race Phase</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/110_items.mov">Items</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/120_laser.mov">Laser</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/130_tractor_repulsor.mov">Tractor/Repulsor</a></li>
				<li>
					<a href="http://zeroroboticsdata.s3.amazonaws.com/kickoff/140_normals.mov">Asteroid Axes</a></li>
			</ul>
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=koTPBnFKm5w" target="_blank"> High School Tournament 2011 Promotional Video</a></li>
		<li>
			<a href="http://amps-web.amps.ms.mit.edu/public/spheres/2010/december/dec16/" target="_blank">ISS Finals 2010 full webcast</a> <span> - December 16, 2010</span></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/ZR2010Video/ISS_b_roll.mp4">Example ISS footage</a> (e-mail zerorobotics@mit.edu to request 1080P clips)</li>
		<li>
			<a href="http://www.kaltura.com/index.php/kwidget/wid/_203822/uiconf_id/1898102/entry_id/1_tbdhmr7a/" target="_blank"> SPHERES Challenge Pilot Video 2009&nbsp;</a></li>
	</ul>
	<div>
		<u>Middle School Tournaments</u></div>
	<ul>
		<li>
			<a href="http://techtv.mit.edu/videos/c897f56839c70bd2bd7b100955c06c0814e264de/private" target="_blank">Summer of Innovation 2010 movie&nbsp;</a></li>
		<li>
			<a href="http://techtv.mit.edu/videos/ef8d90204dab60633cda7a7ea9ca898f43e0f1f3/private" target="_blank">Summer of Innovation 2010 short video</a></li>
	</ul>
	<div>
		<u>Tongal Videos</u></div>
	<ul>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/f1077a18-5e99-4f3e-a4e1-c1e8c28035b5">T1 Andrei Ionita Urban Spheres.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/255a3922-79fb-43d0-b634-bace5b5283da">T2 Andrew Adams The Sphere In The Street.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/7e5f4e70-d9a0-4055-8ee7-a740d89b3584">T3 Brian Adler Ground Control Master Generic Bumper.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/9b5db210-d09b-4b3e-883a-66699de27899">T4 Frank Ponce Team Slomogeneric Bumper.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/ec260c8e-c104-4968-90e4-65a36cd7612e">T5 Colin Levy Showoff.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/f6d69450-aa31-4318-a86c-c4a60b4bce29">T6 Drew Bell Show and Tell.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/75ad056d-323a-450c-a5d3-98a47ad1a7d5">T7 Patrick Muhlberger headinthesky Master.mp4</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/1c63015e-5c48-41cf-8ee1-f1becd01fab1">T8 Sharon Washington NASA Zero Robotics Extreme Prep Course.mp4</a></li>
	</ul>
	<div>
		<u>Other</u></div>
	<ul>
		<li>
			&nbsp; <a href="http://ssl.mit.edu/spheres/video/" target="_blank">Space Systems Laboratory video archive</a></li>
	</ul>
	<p>
		<span style="font-size:20px;"><strong>Pictures</strong></span></p>
	<p>
		<strong><span style="font-size:14px;"><u>Logos</u></span></strong></p>
	<p>
		Teams may use these logos for t-shirts, publicity, and other materials as long as:</p>
	<ol>
		<li>
			The Logos may not be modified in any way other than rendering in a monochromatic way; the images may not be trimmed, cropped, changed in aspect ratio, or modified in any other fashion.</li>
		<li>
			The only exception to (1) is that the logos of the sponsoring organization (DARPA, MIT, CASIS, Top Coder, MAP, Aurora, SSL, and MIT) may be separated and placed elsewhere in the design. However these logos must appear in the design and cannot be re-ordered, re-shaped, trimmed, cropped, or modified in any way other than for monochromatic rendering.</li>
		<li>
			The Logos may not be used in any way that can be interpreted as the Zero Robotics program supporting any type of organization, company, or event other than the Zero Robotics competition the team is participating.</li>
		<li>
			The Logos may not be used in any way that can be interpreted as the Zero Robotics program giving preference to any team, alliance, school, or organization participating in the program.</li>
	</ol>
	<p>
		<em><strong><span style="font-size:12px;">Zero Robotics Program Logos</span></strong></em></p>
	<ul>
		<li>
			<a href="http://ssl.mit.edu/svn/spheres/trunk/ZeroRobotics/Documents/Logo/zr_logo_hs2013_logos.gif">Generic Zero Robotics Logo with Sponsors Banner</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/cb3514ee-abda-4f18-86d8-26d7598ef0f3">Generic Zero Robotics Logo</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/165caf31-ffc7-4e26-9720-a120f0d55a7a">ESA Zero Robotics Logo with Sponsors Banner</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/b27dbe13-53c2-4d46-ae3c-24e15d6a58e3">ESA Zero Robotics Logo</a></li>
	</ul>
	<p>
		<em><strong>CosmoSPHERES Tournament Logo</strong></em></p>
	<ul>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/0f1096bb-c32a-4f50-8798-0137cdec3782">CosmoSPHERES Logo</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/0a1392f0-668c-439d-bc44-c2445ab2d172">CosmoSPHERES Logo EPS</a></li>
	</ul>
	<p>
		 </p>
	<p>
		<strong><span style="font-size: 14px;"><u>Past High School Tournament Logos</u></span></strong></p>
	<p>
		<em><strong>2012</strong></em></p>
	<ul>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_logos.gif">Generic Zero Robotics Logo with Sponsors Banner</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo.gif">Generic Zero Robotics Logo</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_two_lines.gif">Generic Zero Robotics Logo (two lines surround name)</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_sponsors.gif">Sponsors Logos</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_sponsors_line.gif">Sponsors Logos (with line above)</a></li>
	</ul>
	<ul>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_hs2012_logos.gif">High School Tournament 2012 with Sponsors Banner</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_hs2012.gif">High School Tournament 2012</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_hs2012.eps">High School Tournament 2012 (EPS)</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_esa2012_logos.gif">ESA Pilot 2012 with Sponsors Banner</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/zr_logo_esa2012.gif">ESA Pilot 2012</a></li>
	</ul>
	<p>
		<em><strong><span style="font-size:12px;">RetroSPHERES Tournament Logo</span></strong></em></p>
	<ul>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/RetroSPHERES_Logo_Black.png">RetroSPHERES Logo (600px) w/Black Background</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/RetroSPHERES_Logo_White.png">RetroSPHERES Logo (600px) w/White Background</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/logo/RetroSPHERES_Logo.eps">RetroSPHERES Logo EPS</a></li>
	</ul>
	<p>
		<strong><span style="font-size:14px;"><u>High School</u></span></strong></p>
	<ul>
		<li>
			<strong>&nbsp;</strong><a href="http://zeroroboticsdata.s3.amazonaws.com/2011Pics/" target="_blank">2011 High School Pictures</a></li>
		<li>
			<strong>&nbsp;</strong><a href="http://zeroroboticsdata.s3.amazonaws.com/2010HSPics/" target="_blank">2010 High School Pictures</a></li>
	</ul>
	<p>
		<strong><span style="font-size:14px;"><u>Middle School</u></span></strong></p>
	<ul>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/2011MSPics/" target="_blank">2011 Middle School Pictures</a></li>
		<li>
			<a href="http://zeroroboticsdata.s3.amazonaws.com/2010MSPics/" target="_blank">2010 Middle School Pictures</a></li>
	</ul>
	<p>
		 </p>
	<p>
		<span style="font-size: 14px;"><b><u>Flyers</u></b></span></p>
	<p>
		 </p>
	<ul>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/419220/Flyer-Outside.PDF">Flyer- Outside.PDF</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/419220/Flyer-Inside.pdf">Flyer- Inside.PDF</a></li>
		<li>
			<a href="http://www.zerorobotics.org/documents/10429/419220/ZR+Brochure+Aug+2013.pdf">ZR Brochure Aug 2013.pdf</a></li>
	</ul>
	<ul>
	</ul>
	<p>
		<strong><span style="font-size:14px;"><u>Other</u></span></strong></p>
	<ul>
		<li>
			<a href="http://ssl.mit.edu/spheres/pictures/">SSL Photo Directory</a></li>
	</ul>
</div>
