<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
	<h4 class="modal-title">Simulate</h4>
</div>
<div class="modal-body" ui-keypress="{'enter':'createPage()'}">
	<form class="form-horizontal" ng-submit="simulate()">
		<div class="form-group">
			<label class="control-label col-sm-2">Simulate As</label>
			<div class="col-sm-10">
				<label class="radio-inline">
					<input type="radio" name="sphRadios" ng-model="data.sph" value="1">Satellite 1 (Blue)
				</label>
				<label class="radio-inline">
					<input type="radio" name="sphRadios" ng-model="data.sph" value="2">Satellite 2 (Red)
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Opponent</label>
			<div class="col-sm-10">
				<p class="form-control-static" style="display: inline-block;">{{ opponentTitle }}</p>
				<button class="btn btn-default" style="display: inline-block; margin-left: 10px;">Select</button>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="sim-timeout">Maximum Time (s)</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" min="1" max="300" id="sim-timeout" ng-model="data.timeout">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Initial Position</label>
			<div class="col-sm-10">
					<label class="control-label label-left col-sm-2">X</label>
					<label class="control-label label-left col-sm-2">Y</label>
					<label class="control-label label-left col-sm-2">Z</label>
					<label class="control-label label-left col-sm-2">AttX</label>
					<label class="control-label label-left col-sm-2">AttY</label>
					<label class="control-label label-left col-sm-2">AttZ</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Satellite 1</label>
			<div class="col-sm-10">
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[0]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[1]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[2]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[3]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[4]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph1init[5]">
					</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Satellite 2</label>
			<div class="col-sm-10">
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[0]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[1]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[2]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[3]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[4]">
					</div>
					<div class="col-sm-2 low-padding-col">
						<input type="number" class="form-control" min="-1.00" max="1.00" step=".01" ng-model="data.sph2init[5]">
					</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Game Variables</label>
		</div>
		<div class="form-group" ng-repeat="v in data.gameVars">
			<label class="control-label col-sm-2">{{ v.name }}</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" ng-model="v.value">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" type="submit" ng-click="simulate()">Simulate</button>
</div>
