<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
	<h4 class="modal-title">Simulate</h4>
</div>
<div class="modal-body container" ui-keypress="{'enter':'createPage()'}">
	<form class="form-horizontal css-form" novalidate ng-submit="submit()">
		<div class="container">
			<div class="col-md-6">
				<label for="submit-team" class="control-label">Team</label>
				<select id="submit-team" class="form-control" ng-model="data.team" ng-options="t.name for t in teams | orderBy:'name'"></select>
			</div>
			<div class="col-md-6">
				<label for="submit-competition" class="control-label">Competition</label>
				<select id="submit-competition" class="form-control" ng-model="data.competition" ng-options="c.name for c in competitions | orderBy:'name'"></select>
			</div>
		</div>
	</form>
	<div readonly="true" ui-ace="aceOptions" ng-model="projectText" style="font-size: 18px; width: 100%;" heightoffset="300"></div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" type="submit" ng-click="submit()">Submit</button>
</div>
