<div class="page-content">
	<div class="container">
		<div class="col-md-3 accordion-container">
			<div class="list-group">
				<a ng-click="setTeam(t)" class="list-group-item active" ng-repeat="t in teams">{{ t.name }}</a>
			</div>
		</div>
		<div class="col-md-9" ng-if="currentTeam">
			<div style="margin-bottom: 15px; text-align: right;">
				<button class="btn btn-primary">Save</button>
			</div>
			<div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="team-name" class="col-sm-2 control-label">Team name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.name">
						</div>
					</div>
					<div class="form-group">
						<label for="school-name" class="col-sm-2 control-label">School</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.description.school">
						</div>				</div>
					<div class="form-group">
						<label for="city-name" class="col-sm-2 control-label">City</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.description.city">
						</div>
					</div>
					<div class="form-group">
						<label for="state-name" class="col-sm-2 control-label">State</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.description.state">
						</div>
					</div>
					<div class="form-group">
						<label for="country-name" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10">
							<select ng-model="currentTeam.description.country" class="form-control">
								<option>United States</option>
								<option>Italy</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="website-url" class="col-sm-2 control-label">Team Website</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.description.website">
						</div>
					</div>
				</form>
			</div>
			<h3>Team Roster</h3>
			<table class="table table-striped middle-align">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="m in currentTeam.members">
						<td></td>
						<td>{{ m.email.replace('@zerorobotics.mit.edu', '') }}</td>
						<td>
							<select class="form-control" ng-model="m.role">
								<option value="MEMBER">Member</option>
								<option value="OWNER">Team Lead</option>
							</select>
						</td>
						<td>
							<button class="btn btn-danger">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
