<div class="page-content">
	<div class="jumbotron">
		<p style="font-weight: bold; color: red;">This page is under construction. Until this message disappears, some features may not work and some links may be broken.</p>
	</div>
	<div class="container">
		<div class="col-md-3 accordion-container">
			<div class="list-group">
				<a ng-click="setTeam(t)" class="list-group-item active" ng-repeat="t in teams">{{ t.name }}</a>
			</div>
		</div>
		<div class="col-md-9" ng-if="currentTeam && isLead">
			<div style="margin-bottom: 15px; text-align: right;">
				<button class="btn btn-primary" ng-click="setData()">Save</button>
			</div>
			<div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="team-name" class="col-sm-2 control-label">Team name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.name">
						</div>
					</div>
					<div class="form-group">
						<label for="school-name" class="col-sm-2 control-label">School</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.school">
						</div>				</div>
					<div class="form-group">
						<label for="city-name" class="col-sm-2 control-label">City</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.city">
						</div>
					</div>
					<div class="form-group">
						<label for="state-name" class="col-sm-2 control-label">State (US Only)</label>
						<div class="col-sm-10">
							<select class="form-control" ng-options="a for a in states" ng-model="currentTeam.state"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="country-name" class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10">
							<select ng-model="currentTeam.country" ng-options="a for a in countries" class="form-control">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="website-url" class="col-sm-2 control-label">Team Website</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="currentTeam.websiteUrl">
						</div>
					</div>
				</form>
			</div>
			<h3>Team Roster</h3>
			<table class="table table-striped middle-align">
				<thead>
					<tr>
						<th>Email</th>
						<th>Is lead?</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="m in currentTeam.tournamentsTeammembershipCollection">
						<td>{{ m.email }}</td>
						<td>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="m.isLead" > Is lead?
								</label>
							</div>
						</td>
						<td>{{ m.inviteAccepted ? 'Active' : 'Invitation pending' }}</td>
						<td>
							<button class="btn btn-danger">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-9" ng-if="currentTeam && !isLead">
	</div>
</div>
