<div class="page-content">

<div class="page-header"><h1>Active Tournaments</h1></div>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Tournament Name and Description</th>
			<th>Registration Opens</th>
			<th>Registration Closes</th>
			<th>Tournament Ends</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in activeTournaments | orderBy:'tournamentEndDate'">
			<td>
				<img class="img-thumbnail right" ng-src="{{ t.logo }}">
			</td>
			<td>
				<p><a href="/tournaments/{{ t.id }}/">{{ t.name }}</a></p>
				<div ng-bind-html="t.description"></div>
			</td>
			<td>{{ t.registrationStartDate | date:'longDate'}}</td>
			<td>{{ t.registrationEndDate | date:'longDate'}}</td>
			<td>{{ t.tournamentEndDate | date:'longDate'}}</td>
			<td>TODO</td>
		</tr>
	</tbody>
</table>

<div class="page-header"><h1>Past Tournaments</h1></div>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Tournament Name and Description</th>
			<th>Registration Opens</th>
			<th>Registration Closes</th>
			<th>Tournament Ends</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in pastTournaments | orderBy:'-tournamentEndDate'">
			<td>
				<img class="img-thumbnail right" ng-src="{{ t.logo }}">
			</td>
			<td>
				<p><a href="/tournaments/{{ t.id }}/">{{ t.name }}</a></p>
				<div ng-bind-html="t.description"></div>
			</td>
			<td>{{ t.registrationStartDate | date:'longDate'}}</td>
			<td>{{ t.registrationEndDate | date:'longDate'}}</td>
			<td>{{ t.tournamentEndDate | date:'longDate'}}</td>
			<td>TODO</td>
		</tr>
	</tbody>
</table>

</div>
