<div class="page-content">
	<div class="page-header"><h1>{{ tournament.name }}</h1></div>
	<div class="container" style="padding:0;">
		<div class="col-md-2" style="padding-left:0;">
			<h3 style="margin-top: 0;">Info</h3>
			<div class="list-group">
				<a class="list-group-item {{ mode === 'info' && resourceId === p.id ? 'active' : '' }}" ng-repeat="p in tournament.tournamentsInfopageCollection | orderBy:'displayOrder'" href="/tournaments/{{ tournament.id }}/info/{{ p.id }}">{{ p.name }}</a>
			</div>
			<div ng-if="tournament.tournamentsDivisionCollection.length">
				<h3>Teams</h3>
				<div class="list-group">
					<a class="list-group-item {{ mode === 'teams' && resourceId === d.id ? 'active' : '' }}" ng-repeat="d in tournament.tournamentsDivisionCollection | orderBy:'name'" href="/tournaments/{{ tournament.id }}/teams/{{ d.id }}">{{ d.name }}</a>
				</div>
			</div>
			<div ng-if="tournament.tournamentsCompetitionCollection.length">
				<h3>Scores</h3>
				<div class="list-group">
					<a class="list-group-item {{ mode === 'scores' && resourceId === c.id ? 'active' : '' }}" ng-repeat="c in tournament.tournamentsCompetitionCollection | orderBy:'displayOrder'" href="/tournaments/{{ tournament.id }}/scores/{{ c.id }}">{{ c.name }}</a>
				</div>
			</div>
		</div>
		<div class="col-md-10" style="padding-right:0;" ng-switch="mode">
			<div ng-switch-when="info" ng-bind-html="resource.content"></div>
			<div ng-switch-when="teams">
				<h2>{{ resource.name }}</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>City</th>
							<th>State</th>
							<th>Country</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="t in resource.tournamentsDivisionTeamsCollection | orderBy:['country', 'state', 'name']">
							<td>{{ t.name }}</td>
							<td>{{ t.city }}</td>
							<td>{{ t.state }}</td>
							<td>{{ t.country }}</td>
							<td><a href="mailto:">Email Leads</a></td>
							<td><a ng-if="t.websiteUrl" target="_blank" href="{{ t.websiteUrl }}">Website</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-switch-when="scores"></div>
		</div>
	</div>
</div>
