<div class="page-content">
	<div class="page-header" style="position: relative;">
		<h1>Programming and ZR IDE Tutorials</h1>
		<a style="position: absolute; right: 0px; bottom: 9px;" href="/ms/">Back To Index</a>
	</div>
	<p>To get started, review the <a href="https://drive.google.com/file/d/0B-ZDcx2KT3-2ZUZfN1M1XzBjb0k/" target="_blank">Game Introduction video</a>, the <a href="/docs/ms/GameManual2014.pdf" target="_blank">game manual</a>, and <a href="/docs/ms/MSZRGame2014.pdf" target="_blank">Game Overview slideshow</a>, which explain the rules for the 2013 Middle School game.</p>
	<p>The following table shows the tutorials available for learning to program in the ZR IDE using the graphical editor.</p>
	<table class="table table-hover">
		<tr>
			<th>Tutorial</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="/docs/ms/CreateAccount.pdf" target="_blank">Create an Account</a></td>
			<td>Set up an account on the ZR website so that you can access the<br />
				ZR IDE
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/" target="_blank">How to Invite Students to Your Team</a></td>
			<td>A tutorial for the educator to set up the team</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/GettingtoKnowZRIDE.pdf" target="_blank">Getting to Know the ZR IDE</a></td>
			<td>Learn the computer programming language C++ that you will use<br />
				to program the SPHERES satellites
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/IntroductiontoArraysandthesetPositionTarget.pdf" target="_blank">Introduction to Arrays and setPositionTarget</a></td>
			<td>Try your hand at using arrays in ZR</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/MoreSimpleArraysandthesetAttitudeTargetFunction.pdf" target="_blank">More Simple Arrays and the setAttitudeTarget Function</a></td>
			<td>Part 1 of two-part tutorial to learn more about how to use arrays to<br />
				move the SPHERES
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/MoreSimpleArraysAnotherWaytoInitializeVariables.pdf" target="_blank">More Simple Arrays&ndash;Another Way to Initialize Variables</a></td>
			<td>Part 2 of two-part tutorial to learn more about how to use arrays to<br />
				move the SPHERES
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/ConditionalsBasicsIfThen.pdf" target="_blank">The Conditionals: The Basics of "If-Then"</a></td>
			<td>Use "If, Then" statements and some logic operators to program<br />
				a SPHERES satellite to move to multiple locations
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/ConditionalsIfThenLogicOperatorsDebug.pdf" target="_blank">Conditionals: More Fun with "If-Then" and Logic Operators</a></td>
			<td>Use an "If-Then" statement and some new logic operators to show<br />
				that the loop you created is called once per second by the<br />
				SPHERES control system
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/ConditionalsAdvancedLogicOperators.pdf" target="_blank">Conditionals with Advanced Logic Operators</a></td>
			<td>Use still more logic operators ('and' and 'or') and conditional<br />
				statements to change the position and attitude of the SPHERES
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/ConditionalsElseIf.pdf" target="_blank">Conditionals Continued: "If-Then-Else"</a></td>
			<td>Introduction to "If, Then, Else" statements</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/IntroGameMode.pdf" target="_blank">Introduction to Game Mode</a></td>
			<td>Learn to use the game mode (as opposed to the free mode)</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/ForLoops.pdf" target="_blank">For Loops</a></td>
			<td>Learn to use a <strong>for loop</strong> to repeat an action a set number of times&ndash;in<br />
				this case, to find the position of the second satellite and program<br />
				your satellite to move toward the second satellite, but stop halfway
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/HintsSPHERESDynamics.pdf" target="_blank">Hints About SPHERES Loop Dynamics</a></td>
			<td>See the effect of motion on your satellite</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/AppliedConditionals.pdf" target="_blank">Applied Conditionals</a></td>
			<td>Learn how to use conditional statements to program your player to<br />
				do different things depending on where it is and where the other<br />
				player is
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/CreatingFunctions.pdf" target="_blank">Creating Functions</a></td>
			<td>In Part 1 of this two-part tutorial learn how to organize and keep<br />
				track of everything that is happening in your code
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/FunctionsandStepCounterModel.pdf" target="_blank">Functions and the Step Counter Model</a></td>
			<td>In Part 2 of this two-part tutorial learn how&ndash;and why&ndash;to use a step<br />
				counter model in your program and practice creating functions
			</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/IntramuralGameMode.pdf" target="_blank">Intramural Game Mode</a></td>
			<td>Learn how to share your game code with the group</td>
		</tr>
		<tr>
			<td><a href="/docs/ms/SubmitCode.pdf" target="_blank">How to Submit Code</a></td>
			<td>A tutorial for the educator to submit code for competitions</td>
		</tr>
	</table>
</div>