<div class="page-content">
	<div class="panel panel-default">
		<div class="panel-body">
			<p>Welcome to the Tutorials page - your resource for getting started with Zero Robotics! The ZR Website tutorials handle the basics of navigating our system; if you're new, start there, then go on to the Beginner section. The programming tutorials are meant to be followed in order, but returning competitors may be able to skip directly to the Intermediate or Advanced section. We are always interested in improving our introductory materials, so if you feel something is missing, please feel free to let us know.</p>
			<p style="margin-bottom:0;">If you are a Middle School Summer Program participant, please use the resources under Middle School Curriculum instead.</p>
		</div>
	</div>
	<accordion close-others="true">
		<accordion-group heading="ZR Website" is-open="true">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="2">
						Website Basics</td>
					<td>
						<a href="/docs/tutorials/CreateAccount.pdf" target="_blank">Create an Account</a></td>
					<td>
						Set up an account on the ZR website</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/InviteTeam.pdf" target="_blank">Invite Students to Your Team</a></td>
					<td>
						Invite team members after everyone has made an account (mentors only)</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="6">
						IDE</td>
					<td>
						<a href="/docs/tutorials/GettingToKnowZR_IDE.pdf" target="_blank">Getting to Know the ZR IDE</a></td>
					<td>
						Intro to the ZR programming environment</td>
				</tr>
				<tr>
					<td>
						<a href="{% static 'ms-curriculum/Week1_Day2.pdf' %}">Using the Graphical Editor</a></td>
					<td>
						Use the graphical editor as an alternative to writing code</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/IntroGameMode.pdf" target="_blank">Introduction to Game Mode</a></td>
					<td>
						Select the appropriate Game Mode and test your code against a standard player</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/IntramuralGameMode.pdf" target="_blank">Intramural Competitions and Sharing Projects</a></td>
					<td>
						Share code with your team and compete against a teammate.</td>
				</tr>
				<tr style="display:none;">
					<td>
						<a href="/docs/tutorials/collaborativeEditing.pdf" target="_blank">Collaborative Editing</a></td>
					<td>
						Edit projects as a team.</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/SubmitCode.pdf" target="_blank">Submit Code for a Competition</a></td>
					<td>
						Submit code for a competition.</td>
				</tr>
				<tr style="display:none;">
					<td class="subheader" rowspan="2">
						Scoring</td>
					<td>
						<a href="/docs/tutorials/Leaderboard.pdf" target="_blank">The Leaderboard</a></td>
					<td>
						Explanation of the leaderboard and the ZR scoring system</td>
				</tr>
				<tr style="display:none;">
					<td>
						<a href="/docs/tutorials/UserTools.pdf" target="_blank">User Tools</a></td>
					<td>
						Overview of the features of the leaderboard</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Beginner">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="2">
						Basic SPHERES Controls</td>
					<td>
						<a href="/docs/tutorials/VariablesandArrays.pdf" target="_blank">Variables, Arrays, and the setPositionTarget Function</a></td>
					<td>
						Create variables, arrays, and make the satellite move</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/setAttitudeTarget.pdf" target="_blank">More Simple Arrays and setAttitude Target</a></td>
					<td>
						Practice using arrays and make your satellite rotate to face a certain direction</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="8">
						Programming Concepts</td>
					<td>
						<a href="/docs/tutorials/Conditionals_IfThen.pdf" target="_blank">Conditionals: The Basics of "If-Then"</a></td>
					<td>
						Intro to conditional statements</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Conditionals_IfThenAndLogicOperators.pdf" target="_blank">Conditionals: More Fun with "If-Then", Logic Operators and Debugging</a></td>
					<td>
						Enhance the "if-then" statement with logic operators and learn to print to the debug console</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Conditionals_AdvancedLogicOperators.pdf" target="_blank">Conditionals: Advanced Logic Operators</a></td>
					<td>
						Use the "and" and "or" logic operators</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Conditionals_ElseIf.pdf" target="_blank">Conditionals: Else-If</a></td>
					<td>
						Learn about the "else-if" statement, nesting conditionals</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/ForLoops.pdf" target="_blank">For Loops</a></td>
					<td>
						Use a "for" loop to repeat an action a set number of times, as well as find the position of the other satellite.</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/AppliedConditionals.pdf" target="_blank">Applied Conditionals</a></td>
					<td>
						Use getMyZRState in conditional statements</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/CreatingFunctions.pdf" target="_blank">Creating Functions</a></td>
					<td>
						Organize your code with procedural functions</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/StepCounterModel.pdf" target="_blank">Functions and the Step Counter Model</a></td>
					<td>
						Learn to use a step counter and practice creating functions</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="3">
						Useful Math and Physics</td>
					<td>
						<a href="/docs/tutorials/IntroToPhysics.pdf" target="_blank">Intro to Physics</a></td>
					<td>
						Basic information on weightlessness, translation, and rotation</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Kinematics.pdf" target="_blank">Kinematics</a></td>
					<td>
						Conceptual fundamentals of motion</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Vectors.pdf" target="_blank">Combining Vectors</a></td>
					<td>
						Fundamentals of using and combining vectors</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Intermediate">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="7">
						More SPHERES Controls</td>
					<td>
						<a href="/docs/tutorials/Vectors2.pdf" target="_blank">setAttitudeTarget, Revisited</a></td>
					<td>
						Write code to control the SPHERE's direction</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/HintsSPHERESDynamics.pdf" target="_blank">Hints about SPHERES Loop Dynamics</a></td>
					<td>
						Get a better understanding of SPHERES dynamics and Newton's first law.</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Velocity.pdf" target="_blank">setVelocityTarget</a></td>
					<td>
						Use setVelocityTarget for efficiency</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Force.pdf" target="_blank">Force</a></td>
					<td>
						Learn Newton's Laws and use setForce</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/Torque.pdf" target="_blank">Spinning: Torque</a></td>
					<td>
						Intro to torque and the setTorques function</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/AngularVelocity.pdf" target="_blank">Spinning: Angular Velocity</a></td>
					<td>
						Make your satellite spin using angular velocity and setAttRateTarget</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/PartialTurns.pdf" target="_blank">Spinning: Partial Turns</a></td>
					<td>
						Use dot product to perform partial rotations</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Advanced" id="advanced">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="4">
						Advanced Programming</td>
					<td>
						<a href="/docs/tutorials/TiltedAxis.pdf" target="_blank">Spinning: Tilted Axis</a></td>
					<td>
						Use cross product to control spinning on a tilted axis</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/PolarCoordinates.pdf" target="_blank">Revolving: Polar Coordinates</a></td>
					<td>
						Use polar coordinates to revolve in 2-D at the origin</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/RevolvingTiltedAxis.pdf" target="_blank">Revolving: Tilted Axis</a></td>
					<td>
						Use cross product to revolve on a tilted axis anywhere on the coordinate plane</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/tutorials/RecommendedFunctions.pdf" target="_blank">Recommended Functions</a></td>
					<td>
						Descriptions of functions we recommend you add to your algorithms</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Optional Team Activities">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="5">
						SPHERES</td>
					<td>
						<a href="/docs/ms/MakeYourOwnSPHERE.pdf" target="_blank">Make Paper SPHERES</a></td>
					<td>
						Create a 3D SPHERES model</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/ms/PaperSPHERE.pdf" target="_blank">Paper SPHERES Plan</a></td>
					<td>
						Printable plan for Make Paper SPHERES</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/LabelTheSPHERES.pdf" target="_blank">Label the SPHERES</a></td>
					<td>
						Label the components of a SPHERES satellite</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/Communications.pdf" target="_blank">Communications</a></td>
					<td>
						Learn the basic principle of satellite communication</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/Trilateration.pdf" target="_blank">Trilateration Ropes</a></td>
					<td>
						Learn about trilateration and SPHERES positioning</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="10">
						Physics</td>
					<td>
						<a href="/docs/team-activities/GridsAndCoordinates.pdf" target="_blank">Grids and Coordinates</a></td>
					<td>
						Reinforce basic algebra and explore the coordinate plane</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/VectorHunt.pdf" target="_blank">Vector Hunt</a></td>
					<td>
						Underscore the importance of both magnitude and direction</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/SoccerBallDemo.pdf" target="_blank">Soccer Ball Demo</a></td>
					<td>
						Use a soccer ball to understand Newton's First Law</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/ChairsOnWheels.pdf" target="_blank">Chairs on Wheels</a></td>
					<td>
						Use rolling chairs to understand Newton's Third Law</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/ThrusterBalloons.pdf" target="_blank">Thruster Balloons</a></td>
					<td>
						Demonstration to reinforce Newton's Third Law</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/FreeBodyDiagrams.pdf" target="_blank">Free Body Diagrams</a></td>
					<td>
						Visualize forces with free body diagrams</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/BottleRockets.pdf" target="_blank">Bottle Rockets</a></td>
					<td>
						Design, build, and launch your own bottle rocket to better understand kinematics and force</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/BouncyBalls.pdf" target="_blank">Bouncy Balls</a></td>
					<td>
						Understand core elements of physics using bouncy balls</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/DryIceDynamics.pdf" target="_blank">Dry Ice Dynamics</a></td>
					<td>
						Experience frictionless dynamics with dry ice</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/SpeedOfSound.pdf" target="_blank">Speed of Sound</a></td>
					<td>
						Demonstrate that sound travels slower than light</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="2">
						Programming</td>
					<td>
						<a href="/docs/team-activities/ProgrammingPeanutButterAndJelly.pdf" target="_blank">Programming Peanut Butter and Jelly</a></td>
					<td>
						Learn the fundamental principle of programming by making a sandwich</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/WriteItThenDoIt.pdf" target="_blank">Write it then Do it - Programming</a></td>
					<td>
						Reinforce the concepts of explicitness and thoroughness in programming</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="2">
						Review</td>
					<td>
						<a href="/docs/tutorials/JeopardyGame.pdf" target="_blank">Jeopardy</a></td>
					<td>
						Test your knowledge with an interactive review game</td>
				</tr>
				<tr>
					<td>
						<a href="/docs/team-activities/ZRTeamManagement.pdf" target="_blank">ZR Team Management FAQs</a></td>
					<td>
						Questions and answers for mentors and competitors</td>
				</tr>
			</table>
		</accordion-group>
		<accordion-group heading="Other Resources">
			<table class="table table-striped no-bottom-margin">
				<tr>
					<td class="subheader" rowspan="1">
						Reference Documents</td>
					<td>
						<a href="/docs/tutorials/ZR_user_API.pdf" target="_blank">ZR User API</a></td>
					<td>
						Quick guide to all non-game-specific ZR control functions</td>
				</tr>
				<tr>
					<td class="subheader" rowspan="3">
						Links</td>
					<td>
						<a href="/docs/team-activities/" target="_blank">Middle School Student Materials </a></td>
					<td>
						Resources for students and educators in the ZR middle school summer program; may also be useful for high school teams using the graphical editor or needing more help with math or physics. Must be logged in to access.</td>
				</tr>
				<tr>
					<td>
						<a href="http://www.tinyurl.com/ZRW-2013">Pope John Workshop</a></td>
					<td>
						A series of videos and problem sets produced by Stephen Pendergrast, Pope John XXIII Regional High School, Sparta, NJ, to train new team members. Complementary to the tutorials on this page.</td>
				</tr>
				<tr>
					<td>
						<a href="http://www.yobotics.org/index.php?option=com_content&view=article&id=67&Itemid=270">y0b0tics! Circle Tutorial</a></td>
					<td>
						A text-based tutorial to help new teams get off the ground. Courtesy of Team y0b0tics!, Montclair High School, Montclair, NJ.</td>
				</tr>
			</table>
		</accordion-group>
	</accordion>
	
</div>
