<div class="page-content">
	<div class="page-header"><h1>Vision and Mission</h1></div>
	<h2>
		<span style="font-size:20px;"><strong>Our Vision</strong></span></h2>
	<p style="margin-left: 40px; ">
		<span style="font-size: 16px; ">Zero Robotics lets you touch space!</span></p>
	<ul>
		<li>
			<span style="font-size:16px;"><strong>Inspire</strong></span></li>
	</ul>
	<p style="margin-left: 40px; text-align: justify;">
		Zero Robotics seeks to inspire the next generation of great minds by allowing them unprecedented access to space at the high school and middle school level. By making the benefits and resources of the space program tangible to students, Zero Robotics hopes to cultivate an appreciation of science, technology, engineering and math through healthy, immersive, collaborative competition. Another major goal of Zero Robotics is to lead young minds to see the concept of working in space as "normal", allowing imaginations to go beyond the boundaries of rocket science.</p>
	<ul>
		<li>
			<strong><span style="font-size:16px;">Create a Bridge</span></strong></li>
	</ul>
	<p style="margin-left: 40px; text-align: justify; ">
		Zero Robotics, following a mentor-driven model, brings students together with professionals while they complete a full engineering problem: designing, implementing, and operating their response to the Zero Robotics challenges.Zero Robotics seeks to be a permanent link between students and the industry leaders that work on the forefront of science and engineering. These students will in turn become the future leaders to push this frontier forward.</p>
	<ul>
		<li>
			<strong><span style="font-size:16px;">Research</span></strong></li>
	</ul>
	<p style="margin-left: 40px; text-align: justify; ">
		All Zero Robotics competitions are tied in some way to actual space research. By using crowdsourcing and other technologies, one day Zero Robotics aims to substantively involve students in the design and testing process for space software.</p>
	<h2>
		<span style="font-size: 20px; "><strong>Our Mission</strong></span></h2>
	<p style="margin-left: 40px; text-align: justify; ">
		Zero Robotics hopes to provide a unique, challenging learning environment that inspires young minds to apply and sharpen their science, technology, engineering, and math skills. Through a series of competitions starting virtually online and aboard the International Space Station, students exercise their creative problem-solving skills and take on real world design problems. With a zero cost, zero setup, web-based environment that uses the latest web technologies, Zero Robotics provides students worldwide with a testbed to carry out space experiments.</p>
</div>
	
