<div class="page-content">
	<div class="page-header"><h1>Week 4</h1></div>
	<h2>Going the Distance</h2>
	<p>During the fourth week of this program, your major task is to finish programming your player, which may go on to the finals!</p>
	<p>By the end of this week, you should:</p>
	<ul>
		<li>Have reviewed the results of the practice Regional Competition</li>
		<li>Understand and be able to describe your final game strategy</li>
		<li>Complete your computer program and select a single entry from your whole group for submission to the Regional Competition</li>
		<li>Be able to work in teams to solve problems related to your game strategy and coding</li>
	</ul>
	<p><img src="/images/mscurriculum/Competition2.jpg" width="100"></p>
	<p>Now, let's prepare your ZR game player, and explore some of the STEM content you've learned about.</p>

	<h2>Programming in Space is STEMulating!</h2>
	<p>Engage in some of these online activities to explore and reinforce the connections between programming and the STEM content you have learned about in ZR. </p>
	<ul>
		<li>Play the <a href="http://www.kidsastronomy.com/crossword.htm">Astronomy crossword and other games</a></li>
		<li>Visit NASA's <a href="http://spaceplace.nasa.gov/menu/play/">SpacePlace</a> to play a game or take a quiz</li>
		<li>Play <a href="http://www.learninggamesforkids.com/space_games.html">Space Word-a-rama</a> and other learning games</li>
	</ul>
	<ul>
		<li>
			To learn more about coordinates, grids, and graphing, check out:
			<ul>
				<li><a href="http://smartboards.typepad.com/smartboard/files/coordinates1.swf">The Coordinate Game</a></li>
				<li><a href="http://resources.oswego.org/games/BillyBug2/bug2.html">Billy Bug</a></li>
			</ul>
		</li>
	</ul>
</div>