<div class="page-content">
	<div class="page-header" style="position: relative;">
		<h1>Week 5</h1>
		<a style="position: absolute; right: 0px; bottom: 9px;" href="/ms/">Back To Index</a>
	</div>
	<h2>Reach for the Stars</h2>
	<p><img src="/images/mscurriculum/Astronaut_Cartoon.jpg" width="250"></p>
	<p>Now you know whether your program will be run live on the ISS by an astronaut, or whether you will have the opportunity to cheer on your regional competitors as they go for first place!</p>
	<p>By the end of this week, you should:</p>
	<ul>
		<li>Understand how science and engineering concepts relate to the 'real' world</li>
		<li>Understand more about how SPHERES move, including degrees of freedom and dynamics</li>
		<li>Understand why space exploration is important</li>
		<li>Understand what some careers in STEM are and what skills and knowledge are needed to be successful in those careers</li>
	</ul>
	<p>Hopefully this program has shown you the importance of space exploration and the possibility of an exciting career in space or in computer science. Even if you decide to pursue another area, though, we hope that you enjoyed your ZR experience and will continue to pay attention to what is going on above the clouds!</p>
<accordion close-others="true">
	<accordion-group heading="01. How Bright Can Your Future Be?">
	<h3>Will You Be an Astronaut, an Actuary, or an Architect?</h3>
	<h4>Learn about your interests</h4>
	<p>What do you like to do and think about, and what skills do you have? Why does this matter? Your skills and interests can lead you to some careers or career areas that might suit you. Take one or several of the following online and paper career interest inventories:</p>
	<ul>
		<li><a href="http://checkoutacollege.com/ExploreCareers/InterestSurvey.aspx">Career Interest Survey</a>, which is a general career assessment tool</li>
		<li><a href="http://www.onetcenter.org/CIP.html">O*NET Computerized Interest Profiler</a>, which is a vocational interest assessment instrument</li>
		<li><a href="http://www.schooltoworld.org/docs/cis2.pdf">Paper Career Path Survey</a></li>
	</ul>
	<h4>Explore space-related careers</h4>
	<ul>
		<li><a href="http://education.ssc.nasa.gov/massvsweight.asp">Meet some astronauts</a> on the ISS</li>
		<li>Learn about <a href="http://kids.usa.gov/teens-home/science/science-jobs/index.shtml#space">space-related careers</a></li>
		<li>Watch these video interviews with <a href="http://women.nasa.gov/">women who work at NASA</a></li>
		<li>Learn about the field of <a href="http://www.careercornerstone.org/atmosphericscience/atmosphericscience.htm">atmospheric science</a></li>
		<li>Look at this list of <a href="http://mgs-mager.gsfc.nasa.gov/Kids/careers.html">possible space careers</a> and think about what work in each of these areas might actually be like!</li>
	</ul>
	<h4>Explore two careers that most interest you</h4>
	<p>You can use the following resources to get started:</p>
	<ul>
		<li><a href="http://www.nasa.gov/audience/forstudents/5-8/career/index.html">NASA Career Corner</a></li>
		<li><a href="http://www.careercornerstone.org/index.htm">The Career Cornerstone</a></li>
		<li><a href="http://smartr.edc.org">SMARTR</a></li>
		<li><a href="http://www.tryengineering.org/explore.php">Try Engineering</a></li>
		<li><a href="http://www.egfi-k12.org/">eGFI</a></li>
	</ul>

	</accordion-group><accordion-group heading="02. What Is NASA Up To?">
	<p>At this point, you may be interested in learning more about NASA&ndash;what they do, what we've learned from their work, and what they are hoping to do in the future. Now is the perfect time to look more at NASA in the past, today, and in the future.</p>
	<p>Look at the current and planned NASA missions for 2013 and beyond using the following resources:</p>
	<ul>
		<li><a href="http://www.nasa.gov/missions/current/index.html">Current Missions</a></li>
		<li><a href="http://www.nasa.gov/missions/future/index.html">Future Missions</a></li>
	</ul>
	<p>These will give you a good sense of what NASA is doing today and in the future.</p>

	</accordion-group><accordion-group heading="03. Other Ways to Get to Space">
	<p>Don't think you're ready to commit to the long years of work it would take to become an astronaut for NASA? You're in luck if you want to get to space&ndash;several private commercial organizations are developing ways to get to space, including:</p>
	<ul>
		<li><a href="http://www.bigelowaerospace.com/">Bigelow Aerospace</a></li>
		<li><a href="http://www.blueorigin.com/">Blue Origin</a></li>
		<li><a href="http://www.orbital.com/">Orbital Sciences Corporation</a></li>
		<li><a href="http://www.spacex.com/">Space Ex</a></li>
		<li><a href="http://www.virgingalactic.com/">Virgin Galactic</a></li>
	</ul>
	<p>Work as part of a team to find a product or service one of these company is offering (or hoping to offer in the future) and then pitch that product or service (or idea!) to the group.</p>

	</accordion-group><accordion-group heading="04. Smooth Moves">
	<p>For a single point in 3-dimensional space, using three coordinates to define its position is a simple task. But what about an object with length, width, and height (like the SPHERES satellites)&ndash;could you use the same coordinates to find its position? Find out with this <a href="SmoothMoves.pdf" target="_blank">slideshow</a>.</p>

	</accordion-group><accordion-group heading="05. Searching for Whatever Is Out There">
	<p>In the fall of 2012, NASA landed the Mars rover <i>Curiosity</i>. Much of the nation&ndash;and the world&ndash;was captivated by this incredible engineering feat. It may be difficult to imagine what it took to get the rover to Mars&ndash;and what it will take to continue planetary exploration&ndash;but you can get a sense by exploring the following resources:</p>
	<ul>
		<li><a href="http://marsprogram.jpl.nasa.gov/participate/funzone/">Mars Rover Kids site</a></li>
		<li><a href="http://marsrover.nasa.gov/gallery/video/">Videos about the Mars Rover</a></li>
		<li><a href="http://mgs-mager.gsfc.nasa.gov/Kids/funfacts.html">Fun facts about Mars</a></li>
		<li>Try <a href="http://mgs-mager.gsfc.nasa.gov/Kids/activities/maze1.html">guiding this 'rocket ship'</a> to Mars</li>
	</ul>

	</accordion-group><accordion-group heading="06. Where Can You Go From Here?">
	<p>The end of this five-week program does not mean that your fun needs to end. You might want to continue to participate in the ZR program through middle school and even into high school, but there are also a number of other programming and robotics competitions and programs that you can participate in. For example:</p>
	<ul>
		<li>NASA sponsors and promotes <a href="http://www.nasa.gov/audience/forstudents/current-opps-index.html">related programs</a> for middle school students</li>
	</ul>
	<ul>
		<li><a href="http://www.usfirst.org/roboticsprograms/frc">First Robotics</a> is a competition that combines the excitement of sport with the rigors of science and technology. Teams are challenged to build and program robots to perform certain tasks against a field of competitors. In the process they get to learn from professional engineers, learn and use sophisticated software and hardware, and even qualify for college scholarships.</li>
	</ul>
	<ul>
		<li><a href="http://www.destinationimagination.org/">Destination Imagination</a> encourages teams of young people to have fun, take risks, focus, and frame challenges while incorporating STEM, the arts, and service learning. Teams may then showcase their solutions at a national tournament.</li>
	</ul>
	<ul>
		<li><a href="http://www.realworlddesignchallenge.org/">Real Word Design Challenge</a> is an annual competition that gives high school students the opportunity to work on real engineering challenges . Each year, student teams are asked to address a challenge that confronts our nation's leading industries. Students use professional engineering software to develop their solutions and generate presentations that convincingly demonstrate the value of their solutions at a national competition.</li>
	</ul>
</div>
</accordion-group></accordion>
</div>