<div class="page-content">
	<div class="page-header" style="position: relative;">
		<h1>Week 1</h1>
		<a style="position: absolute; right: 0px; bottom: 9px;" href="/ms/">Back To Index</a>
	</div>
	<h2>To Infinity and Beyond . . .</h2>
	<p><img src="/images/mscurriculum/ISS1.jpg" width="250"></p>
	<p><i>Do you ever think about living in, working in, or traveling to space? People continue to explore space and conduct research aboard the International Space Station (ISS), but there are also private companies promoting the idea of space tourism. So come along for the ride and see where it can take you . . . maybe someday you'll cruise to space and wave to the ISS crew members as you pass one another!</i></p>
	<p>During this first week of the ZR program, you will learn more about the SPHERES satellites and learn all about the ZR game and computer programming. You will also be introduced to the ISS, where the SPHERES are used. </p>
	<p>By the end of this week, you should:</p>
	<ul>
		<li>Understand what the ZR middle school program is about and that you'll be programming satellites on the ISS</li>
		<li>Understand that the SPHERES satellites are maneuvered by computer programs, rather than by humans</li>
		<li>Understand the "problem" you must address in your player design for the ZR game</li>
		<li>Understand the basic structure and elements of a computer program and what is involved in debugging a program</li>
		<li>Be aware that math and physics are involved in maneuvering the SPHERES satellites</li>
		<li>Be able to complete short programming tasks in the ZR IDE using the instructions provided</li>
		<li>Be able to work together in teams to solve problems</li>
	</ul>
	<h3>For the Love of Space!</h3>
	<p>Why do we explore space, and what <i>is</i> the space we explore? First, learn from NASA why we explore space by watching the <i><a href="http://www.nasa.gov/exploration/whyweexplore/why_we_explore_main.html">Why We Explore</a></i> video. Then take a look at the universe with this <a href="http://science.discovery.com/video-topics/space-videos/space-school-solar-system.htm">video on the solar system</a>.</p>

	<accordion close-others="true">
		<accordion-group heading="01. The Sky Is Falling!">
		<a id="01"></a>
		<p>On February 15, 2013, news of a meteor streaking through the Russian sky and slamming into the Earth, injuring almost 1,000 people, broke worldwide. The sight of the <a href="http://thelede.blogs.nytimes.com/2013/02/15/video-captures-flaming-object-believed-to-be-meteorite/">meteor</a> captivated people across the globe but this event was a far cry from the potential  impact of an asteroid hitting the planet.</p>
		<p>Have you ever heard of the  movies <i>Armageddon</i> and <i>Deep Impact</i>? Both of these 1998 films focus on asteroids on a collision course with Earth and the actions of people to try to save our planet from the devastating results. While we don't know of any asteroids headed for Earth that could harm us, there are plenty of huge asteroids, called Potentially Hazardous Asteroids (PHAs), that have or soon will pass not too far away from the planet. PHAs are space rocks of a certain size (larger than 100 m or about 325 ft) that might pass within 100 million miles of Earth. (While that may sound like a pretty far distance from us, the Moon is about 250,000 miles from Earth.)  </p>
		<p>On January 7, 2013 there were 1,364 known PHAs and astronomers are constantly finding  <a href="http://www.minorplanetcenter.net/iau/lists/PHACloseApp.html">new ones</a>.</p>
		<h3>Recent Earth-Asteroid Encounters:</h3>
		<p><img src="/images/mscurriculum/Asteroids_table.jpg" width="500"><br />
			Note: LD means "Lunar Distance" (the distance between Earth and the Moon)
		</p>

		</accordion-group><accordion-group heading="02. What In the Universe?">
		<h2>Blast Off!</h2>
		<p><img src="/images/mscurriculum/Planets.JPG" width="500"></p>
		<p>Look at some of the following video clips and other multimedia highlighting space and space exploration, such as the Mars rover landing. </p>
		<ul>
			<li><a href="http://www.dvidshub.net/video/194008/nasa-johnson-style">NASA Johnson Style</a></li>
			<li><a href="http://news.discovery.com/videos/space-top-5-nasa-videos.html">Discovery Space: Top 5 NASA Videos!</a></li>
			<li><a href="http://www.jpl.nasa.gov/video/?all_videos&amp;id=1176#fragment-5">Mars in a Minute: How Do Rovers Drive on Mars? animation</a></li>
		</ul>

		</accordion-group><accordion-group heading="03. Moving Off Earth">
		<h4>Exploring the ISS</h4>
		<ul>
			<li><a href="http://www.guardian.co.uk/science/video/2012/nov/29/earth-international-space-station-timelapse-video">Further Up Yonder: Time Lapse of the Earth from the ISS</a></li>
			<li>
				<a href="http://spacestationlive.nasa.gov/visitspacestation.html">ISSLive!</a>
				<ul>
					<li><a href="http://spacestationlive.nasa.gov/exploremcc.html">Explore Mission Control</a></li>
					<li><a href="http://spacestationlive.nasa.gov/visitspacestation.html">Visit the Space Station</a></li>
					<li><a href="http://spacestationlive.nasa.gov/assembly.html">See How the ISS was Assembled</a></li>
					<li><a href="http://spacestationlive.nasa.gov/internationalpartners.html">International Partners</a></li>
				</ul>
			</li>
			<li><a href="http://solc.gsfc.nasa.gov/kids3/kids3.html">Space Operations Learning Center&ndash;Space Station</a></li>
			<li>
				<a href="http://www.nasa.gov/externalflash/destination_station/">Destination Station</a>
				<ul>
					<li>An Orbiting Laboratory</li>
					<li>Space Station 24/7</li>
					<li>A Home in Space</li>
				</ul>
			</li>
			<li><a href="http://kottke.org/13/01/a-tour-of-the-international-space-station">A Tour of the ISS</a></li>
		</ul>
		<h4>Explore and Track the ISS</h4>
		<ul>
			<li>You can track the ISS as it moves around the Earth and can even see it in the night sky with just your eyes! <a href="http://spotthestation.nasa.gov/">Sign up</a> for alerts from NASA&ndash;you will get an email or text message letting you know when the ISS is about to pass over your home. Also, <a href="http://spaceweather.com/flybys/">Satellite Flybys</a> can tell you where and when the ISS&ndash;as well as a number of spy satellites and the Hubble Space Telescope&ndash;will be passing by your home.</li>
			<li>Explore the space station using a <a href="http://www.nasa.gov/externalflash/photosynth/index.html">3-D tour</a></li>
			<li>See who is living aboard the ISS right <a href="http://www.nasa.gov/audience/forkids/kidsclub/flash/nowinspace/Archive.html">now</a></li>
			<li>Build a model of part of ISS using <a href="http://www.nasa.gov/pdf/616947main_Build_Station_Simulation.pdf">directions</a> provided by NASA</li>
		</ul>
		<h4>What Do You Know About the ISS?</h4>
		<p>Find out by looking at the <a href="/docs/ms/ISSFacts.pdf" target="_self">ISS Facts</a> slideshow.</p>

		</accordion-group><accordion-group heading="04. Welcome to Your Launchpad">
		<p>To get started, you'll need to create an account on the ZR site so that you can access your workbench, the ZR Integrated Development Environment (ZR IDE). </p>
		<p>Follow the directions provided in the <i><a href="TODO-Week1_Day1 .pdf" target="_self">Create an Account</a></i> tutorial, and you will be ready to go!</p>
		<p><strong>Educators:</strong> To add students to your team, use the directions provided in the <i><a href="TODO-Week1_Day0.pdf" target="_self">How to Invite Students to Your Team</a></i> tutorial.</p>

		</accordion-group><accordion-group heading="05. Bottle Rockets">
		<p>Now you will design, build, and launch your very own rocket.</p>
		<p>The first step is to design your rocket. Be creative with your design&ndash;do you want big or small fins? What shape do you want your fins? What about your nose cone&ndash;long and skinny or short and fat? It's all up to you, but you should remember that these parts have specific jobs&ndash;to make the bottle rocket stable and aerodynamic. Find out more by exploring these links:</p>
		<ul>
			<li><a href="http://www.tclauset.org/21_BtlRockets/BTL.html">http://www.tclauset.org/21_BtlRockets/BTL.html</a></li>
			<li><a href="http://www.ehow.com/info_12026132_shape-size-fins-affect-flight-rocket.html">http://www.ehow.com/info_12026132_shape-size-fins-affect-flight-rocket.html</a></li>
		</ul>
		<h4>Design Tips</h4>
		<ul>
			<li>Place your fins evenly spaced around your bottle. This will ensure the best flight!</li>
			<li>Make sure your fins and nose cone are sealed tight on the bottle. You wouldn't want your design to fall apart when the rocket is launched with lots of force!</li>
			<li>Try to not to make one side heavier than the other&ndash;your bottle won't go straight up if it is lopsided.</li>
		</ul>
		<p>Once you have finished designing and building your rocket, you will get to go outside and launch it! </p>
		<h4>Launch Information</h4>
		<p>NOTE: When your bottle rocket is pressurized, it can be a very dangerous object and can cause serious injury. Stay well back from the rocket and be careful.</p>
		<p>If you cannot complete the bottle rocket activity, you might try one of the following rocket activities from NASA:</p>
		<ul>
			<li><a href="http://www.nasa.gov/audience/foreducators/topnav/materials/listbytype/3_2_1_Puff.html">3 . . . 2 . . . 1 . . . PUFF!</a></li>
			<li><a href="http://www.nasa.gov/pdf/295787main_Rockets_Foam_Rocket.pdf">Foam Rocket</a></li>
		</ul>

		</accordion-group><accordion-group heading="06. You Have Nothing to SPHERE . . .">
		<ol>
			<li>See the SPHERES in <a href="http://www.youtube.com/watch?v=FSvsOKbB8Ro&amp;feature=plcp">action</a></li>
			<li>Learn some facts about the SPHERES with the <a href="/docs/ms/GettingtoKnowSPHERES.pdf" target="_self">Getting to Know SPHERES</a> slideshow.</li>
		</ol>
		<p>Now, make your own SPHERE using the following <a href="/docs/ms/MakeYourOwnSPHERE.pdf" target="_self">directions</a> and <a href="/docs/ms/PaperSPHERE.pdf" target="_self">image</a>. Give yourself some time, as this isn't as easy to do as you might think!</p>

		</accordion-group><accordion-group heading="07. Try Your Hand at Programming">
		<p>To program the SPHERES satellites, you will need to learn a whole new language: C++, a computer programming language. Complete the steps in the <i><a href="/docs/ms/GettingtoKnowZRIDE.pdf" target="_self">Getting to Know the ZR IDE</a></i> tutorial to begin learning and practicing this new language!</p>
		<p>Get to know a bit more about how to move the SPHERES satellites by learning about <a href="/docs/ms/MysteryCoordinateGrid.pdf" target="_self">grids</a> and <a href="/docs/ms/CoordinateHunt.pdf" target="_self">coordinates</a> (you will need some <a href="/docs/ms/CoordinateHuntPieces.pdf" target="_self">clues</a> for your Coordinate Hunt!). You might also want to try out a game of <a href="/docs/ms/CoordinateGraphBattleship.pdf" target="_self">Battleship</a> or an interactive <a href="http://www.bbc.co.uk/bitesize/ks2/maths/shape_space/grids/play/">game on coordinates</a>.</p>

		</accordion-group><accordion-group heading="08. Get in the Game">
		<h2>The Middle School Zero Robotics Game</h2>
		<p><img src="/images/mscurriculum/zr_logo_ms2013.gif" width="250"></p>
		<p>To begin, see what this is all about with the <a href="https://docs.google.com/file/d/0Bw-IfABKvG5ranYtYkhtUHlnWWc/edit?usp=sharing">ZR Game Introduction</a>.</p>
		<p>The Middle School ZR Game is <i>not</i> just a test or a problem that has already been solved&ndash;it is a real challenge for you! To prepare young people to be innovative problem-solvers who can do creative work in our highly technical world (and to give you an idea of how exciting this work can be), we are asking you to help solve a major challenge&ndash;so you can see whether you have the <i>right stuff</i> to be part of our future technical workforce!</p>
		<p>Now, check out the <a href="TODO-MSZRGame.pdf" target="_self">Game Overview</a> slideshow to review some of the game details.</p>

		</accordion-group><accordion-group heading="09. Getting Into CS">
		<p>What does making sandwiches have to do with computer programming? Find out with this <a href="/docs/ms/GettingIntoCS.pdf" target="_self">slideshow</a>.</p>

		</accordion-group><accordion-group heading="10. Getting Your SPHERE Lined Up">
		<h4>What Is an Array?</h4>
		<p>An array is a data type that stores multiple pieces of data in one place. See some <a href="/docs/ms/SampleArrays.pdf" target="_self">examples</a> and then try your hand at using them in ZR with the <i><a href="/docs/ms/IntroductiontoArraysandthesetPositionTarget.pdf" target="_self">Introduction to Arrays and the setPositionTarget</a></i> tutorial.</p>

		</accordion-group><accordion-group heading="11. Learning All the Right Moves">
		<h4>How Can You Control the SPHERES Satellites?</h4>
		<p>Learn about <a href="/docs/ms/2DRotation.pdf" target="_self">rotating the SPHERES satellites</a> and complete a two-part tutorial, <i><a href="/docs/ms/MoreSimpleArraysandthesetAttitudeTargetFunction.pdf" target="_self">More Simple Arrays and the setAttitudeTarget Function</a></i> and <i><a href="/docs/ms/MoreSimpleArraysAnotherWaytoInitializeVariables.pdf" target="_self">More Simple Arrays&ndash;Another Way to Initialize Variables</a></i>, to learn more about how to use arrays to move the satellites.</p>
		</accordion-group>
		</accordion>
</div>