<div class="page-content">
	<div class="page-header" style="position: relative;">
		<h1>Week 2</h1>
		<a style="position: absolute; right: 0px; bottom: 9px;" href="/ms/">Back To Index</a>
	</div>
	<h2>Developing a Strategy</h2>
	<p>During the second week of this program, you will have a chance to participate in a "Field Day" where you will get to act out the ZR game and begin to make the best plan you can to win the game. This will help you develop a program for a team player that you will use in an Intramural Competition in Week 3. You'll also learn much more about the math and physics involved in maneuvering the SPHERES satellites and about programming.</p>
	<p>By the end of this week, you should:</p>
	<ul>
		<li>
			Understand the basic math and physics concepts involved in maneuvering the SPHERES satellites, including:
			<ul>
				<li>Forces</li>
				<li>Motion</li>
				<li>Newton's Laws</li>
				<li>Order of operations</li>
				<li>Grids and graphing</li>
				<li>Cartesian coordinates</li>
				<li>Dimensions</li>
				<li>Vectors</li>
			</ul>
		</li>
		<li>Understand the basic elements of the ZR game and programming the SPHERES</li>
		<li>Understand how the ZR game controls can be used in a computer program to maneuver the SPHERES satellites</li>
		<li>Be able to complete advanced programming tasks in the ZR IDE using the instructions provided</li>
		<li>Be able to work in a team to solve problems related to activities and your game strategy and coding</li>
	</ul>
	<p>Now, let's get started by simulating the ZR game using one of the members of your team as the game player!</p>
<accordion close-others="true">
	<accordion-group heading="01. Field Day!">
	<h4>What's Your Strategy?</h4>
	<p>With this field day experience, you will get the chance to understand the game better by acting it out yourself. It will also help your team develop a strategy for coding your ZR player.</p>
	<p><img src="/images/mscurriculum/RetroSPHERES.jpg" width="500"></p>
	<p>Note to educators: This <a href="TODO-Acting Out Game_web.pdf" target="_self">guide</a> will help you prepare for the main event of Field Day: acting out the game.</p>

	</accordion-group><accordion-group heading="02. What's the Right Order?">
	<p>Have you ever thought about the importance of a comma? Consider its role in the statement, "Let's eat, Grandma!" This simple invitation to join in a meal becomes quite sinister when we remove the comma, becoming "Let's eat Grandma!" Thus, <i>commas prevent cannibalism every day</i>. </p>
	<p>In mathematics, there are objects like the comma that can change the meaning of the function entirely. Most often, these objects are parentheses&ndash;they indicate that whatever is in the middle of the two parentheses should be done before what is on the outside. Consider the following examples:</p>
	<p>4 + 5 × 3 = 19</p>
	<p>(4 + 5) × 3 = 27</p>
	<p>Here, the parentheses made a large difference into how the math was carried out&ndash;and on the answer. In order to make sure that the same answer is always given by a single equation, there is a set of rules called the "Order of Operations." These rules ensure, just like commas, that math is consistent, reliable, and non-criminal.</p>
	<p>Try it out on your own and solve the <a href="/docs/ms/OrderofOperationsCrossword.pdf" target="_self">Order of Operations Crossword</a>. (If you need help or to check your answers, use the solutions <a href="TODO-OO_Crossword_AnswerKey.pdf" target="_self">here</a>.)</p>

	</accordion-group><accordion-group heading="03. As If!">
	<p>In Week 1, you learned about <i>conditional statements</i>. Now, work through the tutorial, <i><a href="/docs/ms/ConditionalsBasicsIfThen.pdf" target="_self">The Conditionals: The Basics of "If-Then,"</a></i>, in which you will use a specific type of conditional statement ("If, Then" statements) as well as the logic operators you've learned about to program a SPHERES satellite to move to multiple locations.</p>

	</accordion-group><accordion-group heading="04. What's in a Vector?">
	<p>Directions are an important part of getting around in our world. When you tell your friends how to get to your house, you don't just tell them how far they have to walk&ndash;you also tell them what direction to go. Without <a href="/docs/ms/DirectionswithNoDirection.pdf" target="_self">direction</a>, your friends could end up in a completely different area of town. </p>
	<p>Not only is direction important in getting to people's houses&ndash;it is also important in the world of math and physics. Vectors are used to describe direction and magnitude in mathematics. They are necessary when describing motion, forces, and movement in the grid.</p>
	<p>To learn more about vectors, conduct a <a href="/docs/ms/VectorVoyage.pdf" target="_self">Vector Voyage</a>.</p>

	</accordion-group><accordion-group heading="05. Seeing in 3D">
	<h3>What's in a Map?</h3>
	<p><img src="/images/mscurriculum/Map.bmp" width="250"></p>
	<p>This map and information about going from two to three dimensions are both included on this <a href="/docs/ms/Dimensions.pdf" target="_self">slideshow</a>.</p>
	<h4>To Plot or Not to Plot?</h4>
	<p>To learn more about graphing, try this activity:</p>
	<ul>
		<li><a href="http://nces.ed.gov/nceskids/createagraph/default.aspx">Create-a-graph</a></li>
	</ul>
	<p>To learn more about Cartesian coordinates, try this activity:</p>
	<ul>
		<li><a href="http://www.shodor.org/interactivate/activities/SimpleCoordinates/">Simple Coordinates</a> (Note: This activity requires a plugin)</li>
	</ul>

	</accordion-group><accordion-group heading="06. More Conditionals">
	<p>Work through the next tutorial on conditionals and logic operators to further reinforce these concepts. This tutorial has two parts, which will allow you to practice programming with "If, Then" statements and logic operators and learn how to use the Debug feature of the ZR IDE.</p>
	<p>In the first tutorial, <i><a href="TODO-Week2_Day2_p2.pdf" target="_self">Conditionals: More Fun with "If-Then" and Logic Operators</a></i>, you will use an "If-Then" statement and some additional logic operators ('= =' and '! =') to show that the loop you created is called once per second by the SPHERES control system. In the second tutorial, <i><a href="TODO-Week2_Day2_p3.pdf" target="_self">Conditionals with Advanced Logic Operators</a></i>, you will use still more logic operators ('and' and 'or') and conditional statements to change the position and attitude of the SPHERES satellite.</p>

	</accordion-group><accordion-group heading="07. What Else?">
	<p>In Week 1, you learned about <i>conditional statements</i>. To review, look at the examples in the <strong><a href="/docs/ms/WhatIf.pdf" target="_self">What If: An Introduction to Conditional Statements</a></strong> PowerPoint presentation. Then complete this <a href="TODO-Week2_Day3.pdf" target="_self">tutorial</a>, which will help you extend your understanding of conditional statements by introducting "If, Then, Else" statements.</p>

	</accordion-group><accordion-group heading="08. How to Make SPHERES Move">
	<h4>What Forces Are Affecting the SPHERES?</h4>
	<p>Learn all about Newton's Laws:</p>
	<ul>
		<li><a href="http://www.nasa.gov/audience/foreducators/nasaeclips/search.html?terms=%22Launchpad%3A%20Newton%27s%20Laws%20On-Board%20the%20International%20Space%20Station%22&amp;category=0000&amp;disp=grid">On board the ISS</a></li>
		<li>Try out this <a href="http://science.discovery.com/games-and-interactives/newtons-laws-of-motion-interactive.htm">interactive</a></li>
	</ul>

	</accordion-group><accordion-group heading="09. Breaking Down Programming">
	<p>To help you program your ZR player, it is helpful to learn about some more advanced programming components. To do so, review this <a href="/docs/ms/ProgrammingFunctions.pdf" target="_self">slideshow</a> and complete the tasks within it.</p>

	</accordion-group><accordion-group heading="10. Let the Games Begin!">
	<p>Now, you are ready to start programming. To begin, complete the <i><a href="TODO-IntroGameMode.pdf" target="_self">Introduction to Game Mode</a></i> tutorial, in which you will learn to use the game mode (as opposed to the free mode that you have been using up to this point). You will use this and the <a href="TODO-MS_Game_Manual.pdf" target="_self">game manual</a> while you are programming your player.</p>
	<p>Then look at the <strong><a href="/docs/ms/LetGamesBegin.pdf" target="_self">Let the Games Begin</a></strong> slideshow.</p>
</accordion-group></accordion>
</div>