<div class="page-content">
	<div class="page-header" style="position: relative;">
		<h1>Week 3</h1>
		<a style="position: absolute; right: 0px; bottom: 9px;" href="/ms/">Back To Index</a>
	</div>
	<h2>Time to Play!</h2>
	<p>During the third week of this program, you will code your team players and have a first trial run of your program. This week's Intramural Competition will allow you to try out your ideas and see what works well and what doesn't; the best code from the Intramural Competition will be submitted to a practice Regional Competition at the end of the week.</p>
	<p><img src="/images/mscurriculum/Competition1.jpg" width="200"></p>
	<p>By the end of this week, you should:</p>
	<ul>
		<li>
			Understand the more complex math and physics concepts involved in maneuvering the SPHERES satellites, including kinematics:
			<ul>
				<li>Mass vs. weight</li>
				<li>Speed vs. velocity</li>
			</ul>
		</li>
		<li>Code your intramural game strategy for the Intramural Competition!</li>
		<li>Understand how, and be able, to write and debug code using the ZR game controls in the ZR IDE for your player</li>
		<li>Be able to work in teams to solve problems related to activities and your ZR game strategy and coding</li>
	</ul>
	<p>Now, let's get started developing your program!</p>
<accordion close-others="true">
	<accordion-group heading="01. SPHERES Here, There, Everywhere!">
	<h3>What Do You Already Know About SPHERES?</h3>
	<ul>
		<li>While there are eight controls in the ZR IDE that allow you to maneuver and manipulate the SPHERES, you will only use four of them in your program: setPositionTarget, setAttitudeTarget, getMyZRState, and getOtherZRState.</li>
	</ul>
	<ul>
		<li>Look at the <a href="/docs/ms/AllAboutSPHERES.pdf">All About the SPHERES</a> slideshow to find out more about how the SPHERES know where they are and how they control their position.</li>
	</ul>

	</accordion-group><accordion-group heading="02. Thrown for a Loop!">
	<p>Complete this <a href="Week3_Day1.pdf">tutorial</a> to learn to use a <strong>for loop</strong> to repeat an action a set number of times&ndash;in this case, to find the position of the second satellite and program your satellite to move toward the second satellite, but stop halfway</p>

	</accordion-group><accordion-group heading="03. Reaching Warp Speed">
	<p>What would it take to leap into the future? You would need to achieve warp speed! Is it possible? To find out, review this <a href="/docs/ms/MappingSpeed.pdf">slideshow</a>.</p>
	<p>Kinematics, or the study of motion without considering the forces that cause that motion, are important when you create your program for the SPHERES. If your program tells the SPHERES to move to a point, it will activate its thrusters to create a force that will move it in that direction. Once it reaches the point, it will stop activating its thrusters. But the satellite will continue to travel in the same direction unless it is given a command to stay at that point (in which case it will activate the necessary thrusters to keep it at that point). To see the effect of motion on your satellite, try the simple <i><a href="HintsSPHERESDynamics.pdf">Hints About SPHERES Loop Dynamics</a></i> tutorial.</p>

	</accordion-group><accordion-group heading="04. If the SPHERE Is Here, Then . . .">
	<p>In order to be successful in ZR, you need to program your player to do different things depending on where it is and where the other player is. As you've already learned, the SPHERES Control "getMyZRState" tells you the following information about your satellite:</p>
	<ul>
		<li>Position&ndash;where the satellite is in the game area</li>
		<li>Velocity&ndash;how fast and in what direction the satellite is moving in the game area</li>
		<li>Pointing vector&ndash;which way the satellite is rotated (that is, where the side with the velcro is pointed within the game area)</li>
		<li>Rotation rates&ndash;how the satellite spins about any of its three axes (<i>x</i>, <i>y</i>, or <i>z</i>)</li>
	</ul>
	<p>You can use this information in conditional statements to implement your player strategy&ndash;learn how with this <a href="Week3_Day2.pdf">tutorial</a>!</p>

	</accordion-group><accordion-group heading="05. Keeping Track of Things">
	<p>How can you organize and keep track of everything that is happening in your code? Using functions! Learn how with this two-part tutorial. In the first part, <i><a href="Week3_Day3_p1.pdf">Creating Functions</a></i>, you will learn the basics of creating functions; in the second part, <i><a href="Week3_Day3_p2.pdf">Functions and the Step Counter Model</a></i>, you will learn how&ndash;and why&ndash;to use a step counter model in your program, and practice creating functions.</p>

	</accordion-group><accordion-group heading="06. Game On!">
	<p><img src="/images/mscurriculum/zr_logo_ms2013.gif" width="250"></p>
	<p>First, follow the instructions in the <i><a href="IntramuralGameMode.pdf">Intramural Game Mode</a></i> tutorial to learn how to share your game code with the group. Then watch as your leader follows the instructions in the <i><a href="SubmitCode.pdf">How to Submit Code</a></i> tutorial to begin the Intramural Competition!</p>

	</accordion-group><accordion-group heading="07. Take a Break!">
	<p>While your major job in Week 3 is to strategize and program your player for the first round of competition, you also need to take a break sometimes and have fun. Try spending some time with the following activities, videos, and fun quizzes:</p>
	<h4>Explore Forces and Motion</h4>
	<ul>
		<li><a href="http://science.discovery.com/games-and-interactives/newtons-laws-of-motion-interactive.htm">Newton's Laws of Motion Interactive</a></li>
		<li><a href="http://www.pbs.org/opb/circus/classroom/circus-physics/activity-guide-newtons-laws-motion/">Circus Physics Video</a></li>
		<li><a href="http://glencoe.mcgraw-hill.com/sites/0078617707/student_view0/chapter2/chapter_review_quizzes-eng_.html">Quiz</a></li>
		<li><a href="http://spaceplace.nasa.gov/review/classroom-activities/pdf/st5_frisbee_toy.pdf">"Launch a Frisbee into Orbit"</a> introduces angular velocity, angular acceleration, rotational inertia, and torque</li>
		<li><a href="http://www.learner.org/interactives/parkphysics/coaster.html">Amusement Park Physics: Roller Coasters</a></li>
	</ul>
	<h4>Some more math and science fun</h4>
	<ul>
		<li><a href="ST6_orbits.pdf">Chasing Down a Satellite</a> talks about how satellites work.</li>
		<li><a href="http://www.learnalberta.ca/content/mejhm/index.html?ID1=AB.MATH.JR.NUMB&amp;ID2=AB.MATH.JR.NUMB.INTE&amp;lesson=html/object_interactives/order_of_operations/use_it.html">Order of Operations</a></li>
		<li><a href="http://www.learner.org/interactives/geometry/">Dimensions and 3-D objects</a></li>
		<li>Vectors: <a href="ST7_vectors.pdf">Dampen that Drift</a></li>
		<li>
			Grids &amp; Cartesian Coordinates
			<ul>
				<li><a href="http://www.shodor.org/interactivate/activities/GeneralCoordinates/">General Coordinates Game</a></li>
				<li>Play with some <a href="http://smartboards.typepad.com/smartboard/files/coordinates1.swf">coordinates</a></li>
			</ul>
		</li>
		<li>Some math <a href="http://nlvm.usu.edu/en/nav/grade_g_3.html">manipulatives</a></li>
	</ul>
</accordion-group></accordion>
</div>