<div class="page-content">
	<div class="page-header"><h1>What is Zero Robotics?</h1></div>
	<p><strong>Zero Robotics</strong> is a robotics programming competition where the robots are <a href="http://ssl.mit.edu/spheres">SPHERES</a> (Synchronized Position Hold Engage and Reorient Experimental Satellites) inside the <a href="http://www.nasa.gov/mission_pages/station/main/index.html">International Space Station</a>. The competition starts online, on this website, where teams program the SPHERES to solve an annual challenge. After several phases of virtual competition in a simulation environment that mimics the real SPHERES, finalists are selected to compete in a live championship aboard the ISS. An astronaut will conduct the championship competition in microgravity with a live broadcast!</p>
	<p>There are two types of Zero Robotics tournaments:</p>
	<ul>
		<li>
			<p> <strong>High School Tournament:</strong> Geared towards students in grades 9-12, the tournament takes place from September to December each year. This is an international event open to all teams from the US and member states of the European Space Agency.</p>
		</li>
		<li>
			<p><strong>Middle School Summer Program:</strong> This is a 5-week program in which younger students learn to program through a graphical interface. The program will take place at selected locations in the US. The first multi-state program took place in CA, FL, GA, ID, and MA in 2013 and is expected to expand to other states (TBD) in 2014.</p>
		</li>
	</ul>
	<p>All tournaments are free of charge. All you need to do to get started is (1) find a team of 5-20 students and a mentor, (2) create an account and (3) register your team for a tournament. The list of currently active tournaments is <a href="/tournaments/">here</a>.</p>
	<h2> <strong>Tournament Objectives</strong></h2>
	<p> The participants compete to win a technically challenging game by programming their strategies into the SPHERES satellites. The game is motivated by a current problem of interest to DARPA, NASA and MIT.&nbsp; Student software controls satellite speed, rotation, direction of travel, etc.&nbsp; Depending on the game premise, the students must program their satellites to complete game objectives (navigate obstacles, pick up virtual objects, etc.) while conserving resources (fuel, charge, etc.) and staying within specified time and code-size limits.&nbsp; The programs are "autonomous" - that is, the students cannot control the satellites during the test itself.&nbsp;</p>
</div>