<div class="page-content">
	<div class="page-header"><h1>Meet the ZR Team</h1></div>
	<table class="staff-table">
		<tr>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/hoffman_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Jeffrey Hoffman (MIT)</h3>
						<p>Principal Investigator</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/miller_profile.jpeg" alt="...">
					<div class="caption">
						<h3>David Miller (MIT)</h3>
						<p>Director, Space Systems Laboratory</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/alvar_profile.jpg" alt="...">
					<div class="caption">
						<h3>Alvar Saenz-Otero (MIT)</h3>
						<p>SPHERES Lead Scientist, ZR Co-Founder</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/wfeenstra.jpg" alt="...">
					<div class="caption">
						<h3>Wendy Feenstra (Aurora Flight Sciences)</h3>
						<p>Program Manager</p>
					</div>
			</td>
		</tr>
		<tr>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/mizanul_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Mizanul Chowdhury (MIT)</h3>
						<p>System Administrator</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/jake_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Jacob Katz (MIT)</h3>
						<p>ZR Co-Founder</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/alvar_profile.jpg" alt="...">
					<div class="caption">
						<h3>Alvar Saenz-Otero</h3>
						<p>SPHERES Lead Scientist, ZR Co-Founder</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/alvar_profile.jpg" alt="...">
					<div class="caption">
						<h3>Alvar Saenz-Otero</h3>
						<p>SPHERES Lead Scientist, ZR Co-Founder</p>
					</div>
			</td>
		</tr>
	</table>
</div>
