<div class="page-content">
	<div class="page-header"><h1>Meet the ZR Team</h1></div>
	<table class="staff-table">
		<tr>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/hoffman_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Jeffrey Hoffman (MIT)</h3>
						<p>Principal Investigator</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/alvar_profile.jpg" alt="...">
					<div class="caption">
						<h3>Alvar Saenz-Otero (MIT)</h3>
						<p>SPHERES Lead Scientist, ZR Co-Founder<br>Director, Space Systems Laboratory</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/wfeenstra.jpg" alt="...">
					<div class="caption">
						<h3>Wendy Feenstra (Aurora Flight Sciences)</h3>
						<p>Project Manager</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/mizanul_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Mizanul Chowdhury (MIT)</h3>
						<p>Systems Administrator</p>
					</div>
			</td>
		</tr>
		<tr>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/jake_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Jacob Katz (MIT)</h3>
						<p>ZR Co-Founder</p>
					</div>
			</td>
			<td class="thumbnail">
					<img class="staff-photo" src="/images/team/urop_profile.jpeg" alt="...">
					<div class="caption">
						<h3>Many UROPs (MIT)</h3>
						<p>Undergraduate Researchers</p>
					</div>
			</td>
		</tr>
	</table>
</div>
