<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<meta name="google-signin-clientid" content="2809468685-i7or9cfoaaeg7vb9apsn068h690bdlkr.apps.googleusercontent.com" />
	<meta name="google-signin-cookiepolicy" content="http://zr-qa.s3-website-us-east-1.amazonaws.com" />
	<meta name="google-signin-callback" content="loginCallback" />
	<meta name="google-signin-scope" content="https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive.install profile email https://www.googleapis.com/auth/admin.directory.group" />

	<title>Zero Robotics</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/main.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/css/angular-slider.min.css"/>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController" style="border-bottom: 1px solid #888888;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/logos/logobw.png" class="nav-icon" />Zero Robotics</a>
			</div>
			<div id="main-collapse" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle">About ZR<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/announcements/">Announcements</a></li>
							<li><a href="/what-is-zr/">What is ZR?</a></li>
							<li><a href="/vision-mission/">Vision and Mission</a></li>
							<li><a href="/in-the-news/">ZR in the News</a></li>
							<li><a href="/history/">History</a></li>
							<li><a href="/zr-team/">Meet the ZR Team</a></li>
							<li><a href="/multimedia/">Multimedia Gallery</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Tournaments<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/tournaments/">All Tournaments</a></li>
							<li><a href="/manage-teams/" ng-if="displayName">Manage Teams</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Current tournaments</li>
							<li ng-repeat="t in activeTournaments"><a href="/tournaments/{{ t.id }}/">{{ t.name }}</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-if="displayName">
						<a class="dropdown-toggle">IDE<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ng-click="newProject()">New Project</a></li>
							<li><a ng-click="openProject()">Open Project</a></li>
							<li><a href="/ide/simulation/">Open Simulation</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle">Resources<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/tutorials/">High School Tutorials</a></li>
							<li><a href="/ms/">Middle School Curriculum</a></li>
							<li><a href="/forum/">Forum</a></li>
							<li><a href="/contact-us/">Contact Us</a></li>
						</ul>
					</li>
				</ul>
				<p class="navbar-right navbar-text" ng-if="displayName && showLogin" ng-cloak>Signed in as {{ displayName }} <a class="navbar-link" ng-click="signOut()"><b>Sign out</b></a></p>
				<span id="login-button-wrapper" class="navbar-right" style="margin: 9px 0px 0px 0px;" ng-hide="displayName || !showLogin">
					<span id="login-button"></span>
				</span>
			</div><!--/.navbar-collapse -->
		</div>
	</div>
	<div id="wrap">
		<div style="padding-top: 65px; margin-bottom: 15px;">
			<ng-view></ng-view>
		</div>
		<div id="push"></div>
	</div>
	<div id="footer">
		<div style="text-align: center; white-space: nowrap; overflow: auto;">
			<p>
				<a href="http://web.mit.edu/" target="_blank"><img src="/images/sponsors/mit.png" alt="MIT Logo" class="img-thumbnail" /></a>
				<a href="http://www.nasa.gov/" target="_blank"><img src="/images/sponsors/nasa.png" alt="NASA Logo" class="img-thumbnail" /></a>
				<a href="http://www.darpa.mil/" target="_blank"><img src="/images/sponsors/darpa.png" alt="DARPA Logo" class="img-thumbnail" /></a>
				<a href="http://ssl.mit.edu/newsite/" target="_blank"><img src="/images/sponsors/ssl.png" alt="MIT SSL Logo" class="img-thumbnail" /></a>
				<a href="http://www.aurora.aero/" target="_blank"><img src="/images/sponsors/aurora.png" alt="AFS Logo" class="img-thumbnail"/></a>
				<a href="http://www.iss-casis.org/" target="_blank"><img src="/images/sponsors/casis.png" alt="CASIS Logo" class="img-thumbnail" /></a>
				<a href="http://www.massafterschool.org/" target="_blank"><img src="/images/sponsors/map.png" alt="MAP Logo" class="img-thumbnail" /></a>
			</p>
			<p style="margin-bottom: 5px;">Copyright &copy; 2014 Massachusetts Institute of Technology. All rights reserved.</p>
		</div>
	</div>

	<script src="/blockly/blockly.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" charset="utf-8"></script>
	<script src="/js/zr.min.js"></script>
	<script parsetags="explicit" src="//apis.google.com/js/client:plusone:drive-share:drive-realtime.js?onload=onGapiLoaded"></script>
</body>
</html>

